<!DOCTYPE html>
<html lang="en">

    {% include 'AppBundle:Default:head.html.twig' %}

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            {% include 'AppBundle:Default:navigation.html.twig' %}


            <!-- Page Content -->		
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class = "page-header">Add User(s)</h1>
                        </div>
                    </div>
                </div>


                {% include 'LoginLoginBundle:Default:userform.html.twig' %}
            </div>
            <br><br><br>
            {% include 'LoginLoginBundle:Default:footer_v2.html.twig' %}

        </div>
        <script src="{{asset('bundles/loginlogin/js/jquery.maskedinput.js')}}"></script>
        <script src="{{asset('bundles/loginlogin/js/jquery.number.js')}}"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $("#officetel").mask("(999) 999-9999? Ext.9999");
                $("#mobile").mask("(999) 999-9999");
                $("#dob").mask("99/99/9999");
                $("#employmentstartdate").mask("99/99/9999");
                $("#commorigin").mask("99%");
                $("#commnonorigin").mask("99%");
                $('#earninggoals').number( true, 0 );
                $('#draw').number( true, 0 );
                
                
                
            });
        </script>
        <!-- /#wrapper -->
        {% include 'AppBundle:Default:scripts.html.twig' %}
        
        <script src="{{asset('bundles_v2.0/dist/js/sb-admin-2.js')}}"></script>


        <script src="{{asset('bundles_v2.0/bower_components/raphael/raphael-min.js')}}"></script>
        <script src="{{asset('bundles_v2.0/bower_components/morrisjs/morris.js')}}"></script>
        <script src="{{asset('bundles_v2.0/js/morris-data.js')}}"></script>
        
    </body>

</html>