<script>
    function notespopup(id) {
        document.getElementById('chatbody').innerHTML = "";
        document.getElementById('typeid').value = id;

        $.post('{{path('notes_getnotes')}}',
                {id: id, type: 'users'},
        function (response) {
            if (response !== "false") {
                //console.log("@@@@@@@@@",response);
           
                var notes = JSON.parse(response);
                
                for (i = 0; i < notes.notes.length; i++) {
                    var url;
                    if(notes.notes[i].url == null || notes.notes[i].url == ''){
                        url = '{{asset('bundles/loginlogin/images/default_user_profile_0.png')}}';
                    }else{
                        url = '{{asset('bundles/loginlogin/images/default_user_profile_0.png')}}';
                        url = url.replace('bundles/loginlogin/images/default_user_profile_0.png', notes.notes[i].url);
                    }
                    if ('{{name}}' == notes.notes[i].username) {
                        document.getElementById('chatbody').innerHTML += '<div class="row base_sent"><div class="col-xs-10"><div class="messages msg_sent no-margin no-padding"><p>'+notes.notes[i].notes+' <a id="" onclick="" title="Edit"><i class="fa fa-pencil"></i></a></p><time>'+notes.notes[i].fullname+' | '+notes.notes[i].timestamp+'</time></div></div><div class="col-xs-2 avatar"><img src="' + url + '" class=" img-circle "></div></div><hr style="margin-top: 0px;margin-bottom: 5px;">';

                    } else {
                        document.getElementById('chatbody').innerHTML += '<div class="row base_receive"><div class="col-xs-10"><div class="messages msg_receive no-margin no-padding"><p>'+notes.notes[i].notes+'</p><time>'+notes.notes[i].fullname+' | '+notes.notes[i].timestamp+'</time></div></div><div class="col-xs-2 avatar"><img src="{{asset('bundles/loginlogin/images/default_user_profile_0.png')}}" class=" img-circle "></div></div><hr style="margin-top: 0px;margin-bottom: 5px;">';

                    }
                    //console.log("######",htmlcode);
                }
                afterajaxnote();
            } else {
                i = 0;
                //console.log("error occured in the mange notes in retriving note",response); 
                afterajaxnote();
            }
        });
    }

    function afterajaxnote() {

        $('#addnotes').modal('show');

    }
</script>    
