<script>
    var $opportunitySourceTable = $('#opportunitytable');
    var extendColData = [];
    var initOpportunitySourceResponse;

    $(document).ready(function () {
        $("#opportunityTableDiv").show();
        iniFillOppotunitySourceTableData();
    });

    function iniFillOppotunitySourceTableData() {
        $opportunitySourceTable.bootstrapTable('showLoading');
        var data = '{{opportunitySourceArray}}';
        var newString = data.replace(/&quot;/g, '"');
        initOpportunitySourceResponse = newString;
        //var newString = JSON.parse(data);
        $opportunitySourceTable.bootstrapTable('hideLoading');
        $opportunitySourceTable.bootstrapTable('append', convertOpportunitySourceData(newString));
    }

    function refreshOpportunitySourceTable() {
        $opportunitySourceTable.bootstrapTable('removeAll');
        fillOpportunitySourceTableData();
    }

    function fillOpportunitySourceTableData() {
        $opportunitySourceTable.bootstrapTable('showLoading');
        $.post('{{path('settings_opportunity_source_table_data')}}', null,
                function (response) {
                    if (response) {
                        $opportunitySourceTable.bootstrapTable('hideLoading');
                        initOpportunitySourceResponse = response;
                        $opportunitySourceTable.bootstrapTable('append', convertOpportunitySourceData(response));
                    } else {

                    }
                }
        );
    }

    function fillTableDataWithUsername(username) {
        $opportunitySourceTable.bootstrapTable('removeAll');
        $opportunitySourceTable.bootstrapTable('showLoading');
        var path = '{{path('contacts_contacts_table_data_username_filter', {'username': '0'})}}';
        path = path.substring(0, path.length - 1);

        $.post(path + username, null,
                function (response) {
                    if (response) {
                        $opportunitySourceTable.bootstrapTable('hideLoading');
                        $opportunitySourceTable.bootstrapTable('append', convertOpportunitySourceData(response));
                    } else {

                    }
                }
        );
    }

    function checkAndSetValue(value, blankValue, scale, pre) {
        if (value === '' || value === null) {
            return blankValue;
        } else {
            if (pre === true) {
                return scale + '' + value;
            } else {
                return value + '' + scale;
            }
        }
    }

    function detailFormatter(index, row) {

        var note = checkAndSetValue(extendColData[index].note, '-', '', true);

        var html = [];
        html.push('<div class"row">' +
                '<div class="col-xs-4">' +
                '<table class="table" style="margin-left:42px; border: none !important;line-height: 5px;">' +
                '<tr style="padding:0px;margin:0px;border-bottom: 1px solid #DCDCDC;">' +
                '<td style="border: none !important;line-height: 5px;width:30%"><small>Notes</small></td>' +
                '<td style="border: none !important;line-height: 5px;"><small>' + note + '</small></td>' +
                '</tr>' +
                '</table>' +
                '</div>' +
                '</div>');
        //html.push('<div class"row">' + index + '</div>');
        $.each(row, function (key, value) {
            //html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function convertOpportunitySourceData(response) {
        var jsonString = JSON.parse(response);
        extendColData = [];

        var startId = 1,
                rows = [];

        for (var i = 0; i < jsonString.opportunitySources.length; i++) {
            var tempType = jsonString.opportunitySources[i];

            extendColData.push({
                note: tempType.notes
            });

            var name = '{{name|lower}}';
            var action = '';
            var role = '{{role}}';
            if (role === "Admin") {
                action = '<div class="pull-right">' +
                        '<div class="keep-open btn-group">' +
                        '<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">' +
                        '<i class="glyphicon glyphicon-chevron-down"></i>' +
                        '</button>' +
                        '<ul class="dropdown-menu" role="menu" style="min-width: 0px !important;">' +
                        '<li><a href="javascript:opeEditOpportunitySourceModal(' + tempType.id + ')"><i class="fa fa-pencil-square-o"></i> Edit</a></li>';

                if (tempType.status === "Inactive") {
                    action += '<li><a href="javascript:activateOpportunitySource(' + tempType.id + ')"><i class="fa fa-check"></i> Activate</a></li>';
                } else if (tempType.status === "Active") {
                    action += '<li><a href="javascript:deleteOpportunitySource(' + tempType.id + ')"><i class="fa fa-times"></i> Delete</a></li>';
                }

                action += '</ul>' +
                        '</div>' +
                        '</div>';
            }else{
                $opportunitySourceTable.bootstrapTable('hideColumn', 'Action');
            }

            rows.push({
                opportunitySource: tempType.opportunitySource,
                notes: tempType.notes,
                status: tempType.status,
                action: action
            });
        }
        return rows;
    }

    function deactivateOpportunitySourceId(id) {
        $opportunitySourceTable.bootstrapTable('removeAll');
        $opportunitySourceTable.bootstrapTable('showLoading');

        var jsonString = JSON.parse(initOpportunitySourceResponse);
        var filterContact = [];

        for (var i = 0; i < jsonString.opportunitySources.length; i++) {
            var tempStage = jsonString.opportunitySources[i];

            if (id === tempStage.id) {
                tempStage.status = "Inactive";
            }
            filterContact.push(tempStage);

        }
        var filterOpportunitiesArray = {'opportunitySources': filterContact};
        var jsonStr = JSON.stringify(filterOpportunitiesArray);
        initOpportunitySourceResponse = jsonStr;
        $opportunitySourceTable.bootstrapTable('hideLoading');
        $opportunitySourceTable.bootstrapTable('append', convertOpportunitySourceData(jsonStr));
    }

    function deleteOpportunitySource(id) {
        //$opportunitySourceTable.bootstrapTable('showLoading');
        var path = '{{ path('settings_deleteopportunitysource',{'id':0} )}}';
        path = path.substring(0, path.length - 1);

        $.post(path + id, null,
                function (response) {
                    if (response) {
                        //$opportunitySourceTable.bootstrapTable('showLoading');
                        deactivateOpportunitySourceId(id);
                    } else {
                        $opportunitySourceTable.bootstrapTable('hideLoading');
                    }
                }
        );
    }

    function activateOpportunitySourceId(id) {
        $opportunitySourceTable.bootstrapTable('removeAll');
        $opportunitySourceTable.bootstrapTable('showLoading');

        var jsonString = JSON.parse(initOpportunitySourceResponse);
        var filterContact = [];

        for (var i = 0; i < jsonString.opportunitySources.length; i++) {
            var tempStage = jsonString.opportunitySources[i];

            if (id === tempStage.id) {
                tempStage.status = "Active";
            }
            filterContact.push(tempStage);

        }
        var filterOpportunitiesArray = {'opportunitySources': filterContact};
        var jsonStr = JSON.stringify(filterOpportunitiesArray);
        initOpportunitySourceResponse = jsonStr;
        $opportunitySourceTable.bootstrapTable('hideLoading');
        $opportunitySourceTable.bootstrapTable('append', convertOpportunitySourceData(jsonStr));
    }

    function activateOpportunitySource(id) {
        //$opportunitySourceTable.bootstrapTable('showLoading');
        var path = '{{ path('settings_activateopportunitysource',{'id':0} )}}';
        path = path.substring(0, path.length - 1);

        $.post(path + id, null,
                function (response) {
                    if (response) {
                        activateOpportunitySourceId(id);
                    } else {
                        $opportunitySourceTable.bootstrapTable('hideLoading');
                    }
                }
        );
    }

    function priceSorter(a, b) {
        a = +a.substring(1); // remove $
        b = +b.substring(1);
        if (a > b)
            return 1;
        if (a < b)
            return -1;
        return 0;
    }

    function rowStyle(row, index) {
        var classes = ['active'];

        if (index % 2 === 0) {
            return {
                classes: classes[0]
            };
        }
        return {};
    }
    
    function exportOpportunitySourceTableDataToPDF() {
        var data = JSON.parse(initOpportunitySourceResponse);
                
        var userTablePDF = new exportPDF(data.opportunitySources, "opportunitySources.pdf", ["opportunitySource", "notes", "status"], "Manage Products");
    }
    
    function exportOpportunitySourceTableDataToCSV() {
        var data = JSON.parse(initOpportunitySourceResponse);
                
        exportToCSV(data.opportunitySources, "opportunitySources.csv", ["opportunitySource", "notes", "status"]);
    }
</script>