<!DOCTYPE html>
<html lang="en">
	
       {% include 'LoginLoginBundle:Default:head.html.twig' %}
    
	<body class="no-skin">
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			{% include 'LoginLoginBundle:Default:navbar.html.twig' %}
                        
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">


						<!-- /section:settings.box -->
						<div>
						{%if errormsg is defined %}
                                                    <div class="alert alert-danger alert-dismissable" id="successmsg">
                                                        <button type="button" class="close bigger-200" data-dismiss="alert" aria-hidden="true">
                                                                            &times;
                                                        </button>
                                                        <center> <strong>{{errormsg}}</strong></center>
                                                    </div>
                                                    <script> window.setTimeout(function() { $("#successmsg").alert('close'); }, 5000); </script>
                                                {%endif%}
                                                {%if successmsg is defined %}
                                                    <div class="alert alert-success alert-dismissable" id="errormsg">
                                                        <button type="button" class="close bigger-200" data-dismiss="alert" aria-hidden="true">
                                                                            &times;
                                                        </button>
                                                        <center> <strong>{{successmsg}}</strong></center>
                                                    </div>
                                                    <script> window.setTimeout(function() { $("#errormsg").alert('close'); }, 5000); </script>
                                                {%endif%}
						</div><!-- /.page-header -->
                                                    <h3 class="header smaller lighter blue">Contact Snapshot</h3>
                                                <div class="col-sm-3">                                            
                                                    <div class="profile-user-info profile-user-info-striped pull-left" style="width:100%;">
							<div class="profile-info-row">
                                                            <div class="profile-info-name" style="width:50%;"> Contact Name </div>

								<div class="profile-info-value">
                                                                    <span class="editable" id="username">alexdoe</span>
								</div>
							</div>

							<div class="profile-info-row">
                                                            <div class="profile-info-name" style="width:50%;"> Contact Organization </div>

								<div class="profile-info-value">
                                                                   
                                                                    <span class="editable" id="city">Amsterdam</span>
								</div>
							</div>

							<div class="profile-info-row">
                                                            <div class="profile-info-name"> Email </div>

                                                            <div class="profile-info-value">
								<span class="editable" id="age">sample@gmail.com</span>
                                                            </div>
							</div>

							<div class="profile-info-row">
                                                            
                                                            <div class="profile-info-name"> Telephone </div>

								<div class="profile-info-value">
                                                                    
                                                                    <span class="editable" id="signup">(555) 555 - 8888</span>
								</div>
							</div>

							<div class="profile-info-row">
											
                                                            <div class="profile-info-name"> Date of Birth </div>

													
                                                            <div class="profile-info-value">
														
                                                                <span class="editable" id="login">12/08/1986</span>
													
                                                            </div>
												
                                                        </div>

												
                                                        <div class="profile-info-row">
													
                                                            <div class="profile-info-name"> Tags</div>

													
                                                            <div class="profile-info-value">
														
                                                                <span class="editable" id="about">sample</span>
													
                                                            </div>
												
                                                        </div>
							
                                                        
                                                    </div>
                                                    
                                                    
                                                    
                                                    <span class="btn btn-app btn-sm btn-light no-hover" style="width:100%;margin-top: 10px;">
                                                            
                                                         <h3 class="smaller lighter blue">Won Opportunities</h3>
                                                         
                                                        <span class="line-height-1 bigger-170 blue"> $ 1,411 </span>
 
                                                    </span>
                                                    
                                                     <span class="btn btn-app btn-sm btn-light no-hover" style="width:100%;margin-top: 10px;">
                                                         <h3 class="smaller lighter blue">Lost Opportunities</h3>   
                                                         
                                                         <span class="line-height-1 bigger-170 blue"> $ 1,411 </span>

                                                    </span>
                                                <div>    
                                                                     
						
					</div><!-- /.page-content -->
				</div>
                                <div class="col-sm-9">
                                    <div class ="row">    
                                        <div class="col-sm-4">
                                                <span class="btn btn-app btn-sm btn-light no-hover" style="width:90%;">

                                                    <h3 class="smaller lighter blue">Total Projected revenue</h3>

                                                    <span class="line-height-1 bigger-170 blue"> $ 1,411 </span>

                                                </span>
                                        </div> 

                                        <div class="col-sm-4">
                                            <span class="btn btn-app btn-sm btn-light no-hover" style="width:90%;">

                                                    <h3 class="smaller lighter blue">Total Open Opportunities</h3>

                                                    <span class="line-height-1 bigger-170 blue"> $ 1,411 </span>

                                            </span>
                                        </div> 

                                        <div class="col-sm-4">
                                            <span class="btn btn-app btn-sm btn-light no-hover" style="width:90%;">

                                                    <h3 class="smaller lighter blue">Total Weighted Forecast</h3>

                                                    <span class="line-height-1 bigger-170 blue"> $ 1,411 </span>

                                            </span>
                                        </div> 
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="widget-box transparent" style="margin-left: 15px">
                                            <div class="widget-header widget-header-small">
                                                <h4 class="widget-title blue smaller">
                                                    <i class="fa fa-tasks blue"></i>
                                                    List of Open Tasks for this Contact
                                                </h4>

                                            </div>

                                            <div class="widget-body" style="height:100px;overflow-y: auto;">
                                                <div class="widget-main padding-8">
                                                    <!-- #section:pages/profile.feed -->
                                                    <div id="profile-feed-1" class="profile-feed">
                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                                
                                                                <a class="user" href="#"> Alex Doe </a>
                                                                changed his profile photo.
                                                                Take a look

                                                                
                                                            </div>

                                                            <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>

                                                                
                                                            </div>
                                                        </div>

                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                               
                                                                <a class="user" href="#"> Susan Smith </a>

                                                                is now friends with Alex Doe.
                                                                
                                                                </div>
                                                             <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>
                                                            </div>

                                                          
                                                        </div>

                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                               
                                                                <a class="user" href="#"> Susan Smith </a>

                                                                is now friends with Alex Doe.
                                                                
                                                                </div>
                                                             <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>
                                                            </div>

                                                          
                                                        </div>

                                                      

                                                        
                                                    </div>

                                                    <!-- /section:pages/profile.feed -->
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                         <div class="widget-box transparent" style="margin-left: 15px;margin-bottom: 100px;" >
                                            <div class="widget-header widget-header-small">
                                                <h4 class="widget-title blue smaller">
                                                    <i class="fa fa-edit blue"></i>
                                                    List of Notes for this Contact
                                                </h4>

                                            </div>

                                            <div class="widget-body" style="height:100px;overflow-y: auto;">
                                                <div class="widget-main padding-8">
                                                    <!-- #section:pages/profile.feed -->
                                                    <div id="profile-feed-1" class="profile-feed">
                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                                
                                                                <a class="user" href="#"> Alex Doe </a>
                                                                changed his profile photo.
                                                                

                                                                
                                                            </div>

                                                            <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>

                                                                
                                                            </div>
                                                        </div>

                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                               
                                                                <a class="user" href="#"> Susan Smith </a>

                                                                is now friends with Alex Doe.
                                                                
                                                            </div>

                                                            <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>

                                                                
                                                            </div>
                                                        </div>

                                                        <div class="profile-activity clearfix">
                                                            <div>
                                                               
                                                                <a class="user" href="#"> Susan Smith </a>

                                                                is now friends with Alex Doe.
                                                                
                                                                </div>
                                                             <div class="tools action-buttons">
                                                                <a href="#" class="blue">
                                                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                                </a>
                                                            </div>     
                                                          
                                                        </div>

                                                      

                                                        
                                                    </div>

                                                    <!-- /section:pages/profile.feed -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>        
			</div><!-- /.main-content -->
                        
                        {% include 'LoginLoginBundle:Default:footer.html.twig' %}
                        
			<a href="#" style="margin-right:30px;" id="btn-scroll-up" class="btn-scroll-up btn btn-lg btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-140"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.js')}}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.mobile.custom.js')}}'>"+"<"+"/script>");
		</script>
                <script src="{{asset('bundles/loginlogin/js/parsley.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/parsley.min.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/parsley.remote.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/parsley.remote.min.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap.js')}}"></script>
                
		<!-- page specific plugin scripts -->
                 <script src="{{asset('bundles/loginlogin/js/ace/jquery-ui.custom.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.ui.touch-punch.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/chosen.jquery.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/fuelux.spinner.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-datepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-timepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/moment.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/daterangepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-datetimepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-colorpicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.knob.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.autosize.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.inputlimiter.1.3.1.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.maskedinput.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-tag.js')}}"></script>
		<!-- ace scripts -->
		<script src="{{asset('bundles/loginlogin/js/ace/elements.scroller.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.colorpicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.fileinput.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.typeahead.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wysiwyg.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.spinner.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.treeview.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wizard.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.aside.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.ajax-content.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.touch-drag.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar-scroll-1.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.submenu-hover.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-box.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-rtl.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-skin.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-on-reload.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.searchbox-autocomplete.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/ace/jquery.maskedinput.js')}}"></script>

		<!-- inline scripts related to this page -->
                
                <script type="text/javascript">
			jQuery(function($) {
			
				//editables on first profile page
				$.fn.editable.defaults.mode = 'inline';
				$.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
			    $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
			                                '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';    
				
				//editables 
				
				//text editable
			    $('#username')
				.editable({
					type: 'text',
					name: 'username'
			    });
			
			
				
				//select2 editable
				var countries = [];
			    $.each({ "CA": "Canada", "IN": "India", "NL": "Netherlands", "TR": "Turkey", "US": "United States"}, function(k, v) {
			        countries.push({id: k, text: v});
			    });
			
				var cities = [];
				cities["CA"] = [];
				$.each(["Toronto", "Ottawa", "Calgary", "Vancouver"] , function(k, v){
					cities["CA"].push({id: v, text: v});
				});
				cities["IN"] = [];
				$.each(["Delhi", "Mumbai", "Bangalore"] , function(k, v){
					cities["IN"].push({id: v, text: v});
				});
				cities["NL"] = [];
				$.each(["Amsterdam", "Rotterdam", "The Hague"] , function(k, v){
					cities["NL"].push({id: v, text: v});
				});
				cities["TR"] = [];
				$.each(["Ankara", "Istanbul", "Izmir"] , function(k, v){
					cities["TR"].push({id: v, text: v});
				});
				cities["US"] = [];
				$.each(["New York", "Miami", "Los Angeles", "Chicago", "Wysconsin"] , function(k, v){
					cities["US"].push({id: v, text: v});
				});
				
				var currentValue = "NL";
			    $('#country').editable({
					type: 'select2',
					value : 'NL',
					//onblur:'ignore',
			        source: countries,
					select2: {
						'width': 140
					},		
					success: function(response, newValue) {
						if(currentValue == newValue) return;
						currentValue = newValue;
						
						var new_source = (!newValue || newValue == "") ? [] : cities[newValue];
						
						//the destroy method is causing errors in x-editable v1.4.6+
						//it worked fine in v1.4.5
						/**			
						$('#city').editable('destroy').editable({
							type: 'select2',
							source: new_source
						}).editable('setValue', null);
						*/
						
						//so we remove it altogether and create a new element
						var city = $('#city').removeAttr('id').get(0);
						$(city).clone().attr('id', 'city').text('Select City').editable({
							type: 'select2',
							value : null,
							//onblur:'ignore',
							source: new_source,
							select2: {
								'width': 140
							}
						}).insertAfter(city);//insert it after previous instance
						$(city).remove();//remove previous instance
						
					}
			    });
			
				$('#city').editable({
					type: 'select2',
					value : 'Amsterdam',
					//onblur:'ignore',
			        source: cities[currentValue],
					select2: {
						'width': 140
					}
			    });
			
			
				
				//custom date editable
				$('#signup').editable({
					type: 'adate',
					date: {
						//datepicker plugin options
						    format: 'yyyy/mm/dd',
						viewformat: 'yyyy/mm/dd',
						 weekStart: 1
						 
						//,nativeUI: true//if true and browser support input[type=date], native browser control will be used
						//,format: 'yyyy-mm-dd',
						//viewformat: 'yyyy-mm-dd'
					}
				})
			
			    $('#age').editable({
			        type: 'spinner',
					name : 'age',
					spinner : {
						min : 16,
						max : 99,
						step: 1,
						on_sides: true
						//,nativeUI: true//if true and browser support input[type=number], native browser control will be used
					}
				});
				
			
			    $('#login').editable({
			        type: 'slider',
					name : 'login',
					
					slider : {
						 min : 1,
						  max: 50,
						width: 100
						//,nativeUI: true//if true and browser support input[type=range], native browser control will be used
					},
					success: function(response, newValue) {
						if(parseInt(newValue) == 1)
							$(this).html(newValue + " hour ago");
						else $(this).html(newValue + " hours ago");
					}
				});
			
				$('#about').editable({
					mode: 'inline',
			        type: 'wysiwyg',
					name : 'about',
			
					wysiwyg : {
						//css : {'max-width':'300px'}
					},
					success: function(response, newValue) {
					}
				});
				
				
				
				// *** editable avatar *** //
				try {//ie8 throws some harmless exceptions, so let's catch'em
			
					//first let's add a fake appendChild method for Image element for browsers that have a problem with this
					//because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
					try {
						document.createElement('IMG').appendChild(document.createElement('B'));
					} catch(e) {
						Image.prototype.appendChild = function(el){}
					}
			
					var last_gritter
					$('#avatar').editable({
						type: 'image',
						name: 'avatar',
						value: null,
						image: {
							//specify ace file input plugin's options here
							btn_choose: 'Change Avatar',
							droppable: true,
							maxSize: 110000,//~100Kb
			
							//and a few extra ones here
							name: 'avatar',//put the field name here as well, will be used inside the custom plugin
							on_error : function(error_type) {//on_error function will be called when the selected file has a problem
								if(last_gritter) $.gritter.remove(last_gritter);
								if(error_type == 1) {//file format error
									last_gritter = $.gritter.add({
										title: 'File is not an image!',
										text: 'Please choose a jpg|gif|png image!',
										class_name: 'gritter-error gritter-center'
									});
								} else if(error_type == 2) {//file size rror
									last_gritter = $.gritter.add({
										title: 'File too big!',
										text: 'Image size should not exceed 100Kb!',
										class_name: 'gritter-error gritter-center'
									});
								}
								else {//other error
								}
							},
							on_success : function() {
								$.gritter.removeAll();
							}
						},
					    url: function(params) {
							// ***UPDATE AVATAR HERE*** //
							//for a working upload example you can replace the contents of this function with 
							//examples/profile-avatar-update.js
			
							var deferred = new $.Deferred
			
							var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
							if(!value || value.length == 0) {
								deferred.resolve();
								return deferred.promise();
							}
			
			
							//dummy upload
							setTimeout(function(){
								if("FileReader" in window) {
									//for browsers that have a thumbnail of selected image
									var thumb = $('#avatar').next().find('img').data('thumb');
									if(thumb) $('#avatar').get(0).src = thumb;
								}
								
								deferred.resolve({'status':'OK'});
			
								if(last_gritter) $.gritter.remove(last_gritter);
								last_gritter = $.gritter.add({
									title: 'Avatar Updated!',
									text: 'Uploading to server can be easily implemented. A working example is included with the template.',
									class_name: 'gritter-info gritter-center'
								});
								
							 } , parseInt(Math.random() * 800 + 800))
			
							return deferred.promise();
							
							// ***END OF UPDATE AVATAR HERE*** //
						},
						
						success: function(response, newValue) {
						}
					})
				}catch(e) {}
				
				/**
				//let's display edit mode by default?
				var blank_image = true;//somehow you determine if image is initially blank or not, or you just want to display file input at first
				if(blank_image) {
					$('#avatar').editable('show').on('hidden', function(e, reason) {
						if(reason == 'onblur') {
							$('#avatar').editable('show');
							return;
						}
						$('#avatar').off('hidden');
					})
				}
				*/
			
				//another option is using modals
				$('#avatar2').on('click', function(){
					var modal = 
					'<div class="modal fade">\
					  <div class="modal-dialog">\
					   <div class="modal-content">\
						<div class="modal-header">\
							<button type="button" class="close" data-dismiss="modal">&times;</button>\
							<h4 class="blue">Change Avatar</h4>\
						</div>\
						\
						<form class="no-margin">\
						 <div class="modal-body">\
							<div class="space-4"></div>\
							<div style="width:75%;margin-left:12%;"><input type="file" name="file-input" /></div>\
						 </div>\
						\
						 <div class="modal-footer center">\
							<button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Submit</button>\
							<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
						 </div>\
						</form>\
					  </div>\
					 </div>\
					</div>';
					
					
					var modal = $(modal);
					modal.modal("show").on("hidden", function(){
						modal.remove();
					});
			
					var working = false;
			
					var form = modal.find('form:eq(0)');
					var file = form.find('input[type=file]').eq(0);
					file.ace_file_input({
						style:'well',
						btn_choose:'Click to choose new avatar',
						btn_change:null,
						no_icon:'ace-icon fa fa-picture-o',
						thumbnail:'small',
						before_remove: function() {
							//don't remove/reset files while being uploaded
							return !working;
						},
						allowExt: ['jpg', 'jpeg', 'png', 'gif'],
						allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
					});
			
					form.on('submit', function(){
						if(!file.data('ace_input_files')) return false;
						
						file.ace_file_input('disable');
						form.find('button').attr('disabled', 'disabled');
						form.find('.modal-body').append("<div class='center'><i class='ace-icon fa fa-spinner fa-spin bigger-150 orange'></i></div>");
						
						var deferred = new $.Deferred;
						working = true;
						deferred.done(function() {
							form.find('button').removeAttr('disabled');
							form.find('input[type=file]').ace_file_input('enable');
							form.find('.modal-body > :last-child').remove();
							
							modal.modal("hide");
			
							var thumb = file.next().find('img').data('thumb');
							if(thumb) $('#avatar2').get(0).src = thumb;
			
							working = false;
						});
						
						
						setTimeout(function(){
							deferred.resolve();
						} , parseInt(Math.random() * 800 + 800));
			
						return false;
					});
							
				});
			
				
			
				//////////////////////////////
				$('#profile-feed-1').ace_scroll({
					height: '250px',
					mouseWheelLock: true,
					alwaysVisible : true
				});
			
				$('a[ data-original-title]').tooltip();
			
				$('.easy-pie-chart.percentage').each(function(){
				var barColor = $(this).data('color') || '#555';
				var trackColor = '#E2E2E2';
				var size = parseInt($(this).data('size')) || 72;
				$(this).easyPieChart({
					barColor: barColor,
					trackColor: trackColor,
					scaleColor: false,
					lineCap: 'butt',
					lineWidth: parseInt(size/10),
					animate:false,
					size: size
				}).css('color', barColor);
				});
			  
				///////////////////////////////////////////
			
				//right & left position
				//show the user info on right or left depending on its position
				$('#user-profile-2 .memberdiv').on('mouseenter touchstart', function(){
					var $this = $(this);
					var $parent = $this.closest('.tab-pane');
			
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $this.offset();
					var w2 = $this.width();
			
					var place = 'left';
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';
					
					$this.find('.popover').removeClass('right left').addClass(place);
				}).on('click', function(e) {
					e.preventDefault();
				});
			
			
				///////////////////////////////////////////
				$('#user-profile-3')
				.find('input[type=file]').ace_file_input({
					style:'well',
					btn_choose:'Change avatar',
					btn_change:null,
					no_icon:'ace-icon fa fa-picture-o',
					thumbnail:'large',
					droppable:true,
					
					allowExt: ['jpg', 'jpeg', 'png', 'gif'],
					allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
				})
				.end().find('button[type=reset]').on(ace.click_event, function(){
					$('#user-profile-3 input[type=file]').ace_file_input('reset_input');
				})
				.end().find('.date-picker').datepicker().next().on(ace.click_event, function(){
					$(this).prev().focus();
				})
				$('.input-mask-phone').mask('(999) 999-9999');
			
				$('#user-profile-3').find('input[type=file]').ace_file_input('show_file_list', [{type: 'image', name: $('#avatar').attr('src')}]);
			
			
				////////////////////
				//change profile
				$('[data-toggle="buttons"] .btn').on('click', function(e){
					var target = $(this).find('input[type=radio]');
					var which = parseInt(target.val());
					$('.user-profile').parent().addClass('hide');
					$('#user-profile-'+which).parent().removeClass('hide');
				});
				
				
				
				/////////////////////////////////////
				$(document).one('ajaxloadstart.page', function(e) {
					//in ajax mode, remove remaining elements before leaving page
					try {
						$('.editable').editable('destroy');
					} catch(e) {}
					$('[class*=select2]').remove();
				});
			});
		</script>
                
		
	</body>
</html>
