<script>
    var $table = $('#table');
    var extendColData = [];
    var initResponse;

    $(document).ready(function () {
        $("#tableDiv").show();
        iniFillTableData();
    });

    function iniFillTableData() {
        $table.bootstrapTable('showLoading');
        var data = '{{stagesArray}}';
        var newString = data.replace(/&quot;/g, '"');
        initResponse = newString;
        //var newString = JSON.parse(data);
        $table.bootstrapTable('hideLoading');
        $table.bootstrapTable('append', convertData(newString));
    }

    function refreshTable() {
        $table.bootstrapTable('removeAll');
        fillTableData();
    }

    function fillTableData() {
        $table.bootstrapTable('showLoading');
        $.post('{{path('settings_table_data')}}', null,
                function (response) {
                    if (response) {
                        $table.bootstrapTable('hideLoading');
                        initResponse = response;
                        $table.bootstrapTable('append', convertData(response));
                    } else {

                    }
                }
        );
    }

    function deactivateId(id) {
        $table.bootstrapTable('removeAll');
        $table.bootstrapTable('showLoading');

        var jsonString = JSON.parse(initResponse);
        var filterContact = [];

        for (var i = 0; i < jsonString.stages.length; i++) {
            var tempStage = jsonString.stages[i];

            if (id === tempStage.id) {
                tempStage.status = "Inactive";
            }
            filterContact.push(tempStage);
            
        }
        var filterOpportunitiesArray = {'stages': filterContact};
        var jsonStr = JSON.stringify(filterOpportunitiesArray);

        $table.bootstrapTable('hideLoading');
        $table.bootstrapTable('append', convertData(jsonStr));
    }

    function fillTableDataWithUsername(username) {
        $table.bootstrapTable('removeAll');
        $table.bootstrapTable('showLoading');
        var path = '{{path('contacts_contacts_table_data_username_filter', {'username': '0'})}}';
        path = path.substring(0, path.length - 1);

        $.post(path + username, null,
                function (response) {
                    if (response) {
                        $table.bootstrapTable('hideLoading');
                        $table.bootstrapTable('append', convertData(response));
                    } else {

                    }
                }
        );
    }

    function storePageSize(size) {
        
    }

    function checkAndSetValue(value, blankValue, scale, pre) {
        if (value === '' || value === null) {
            return blankValue;
        } else {
            if (pre === true) {
                return scale + '' + value;
            } else {
                return value + '' + scale;
            }
        }
    }

    function detailFormatter(index, row) {

        var note = checkAndSetValue(extendColData[index].note, '-', '', true);

        var html = [];
        html.push('<div class"row">' +
                '<div class="col-xs-4">' +
                '<table class="table" style="margin-left:42px; border: none !important;line-height: 5px;">' +
                '<tr style="padding:0px;margin:0px;border-bottom: 1px solid #DCDCDC;">' +
                '<td style="border: none !important;line-height: 5px;width:30%"><small>Notes</small></td>' +
                '<td style="border: none !important;line-height: 5px;"><small>' + note + '</small></td>' +
                '</tr>' +
                '</table>' +
                '</div>' +
                '</div>');
        //html.push('<div class"row">' + index + '</div>');
        $.each(row, function (key, value) {
            //html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function convertData(response) {
        var jsonString = JSON.parse(response);
        extendColData = [];

        var startId = 1,
                rows = [];

        for (var i = 0; i < jsonString.stages.length; i++) {
            var tempStage = jsonString.stages[i];

            extendColData.push({
                note: tempStage.notes
            });

            var name = '{{name|lower}}';
            var action = '';
            var role = '{{role}}';
            if (role === "Admin") {
                action = '<div class="pull-right">' +
                        '<div class="keep-open btn-group">' +
                        '<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">' +
                        '<i class="glyphicon glyphicon-chevron-down"></i>' +
                        '</button>' +
                        '<ul class="dropdown-menu" role="menu" style="min-width: 0px !important;">' +
                        '<li><a href="javascript:opeEditModal(' + tempStage.id + ')"><i class="fa fa-pencil-square-o"></i> Edit</a></li>';
                
                if (tempStage.status === "Inactive") {
                    action += '<li><a href="javascript:activateStage(' + tempStage.id + ')"><i class="fa fa-check"></i> Activate</a></li>';
                }else if(tempStage.status === "Active"){
                    action += '<li><a href="javascript:deleteStage(' + tempStage.id + ')"><i class="fa fa-times"></i> Delete</a></li>';
                }

                action += '</ul>' +
                        '</div>' +
                        '</div>';
            }


            var status = tempStage.status;

            rows.push({
                stages: tempStage.stage,
                saleChange: tempStage.saleChange,
                notes: tempStage.notes,
                status: status,
                action: action

            });
        }
        return rows;
    }
    
    function deleteStage(id){
        //$table.bootstrapTable('showLoading');
        var path = '{{ path('settings_deletestage',{'id':0} )}}';
        path = path.substring(0, path.length - 1);

        $.post(path + id, null,
                function (response) {
                    if (response) {
                        //$table.bootstrapTable('showLoading');
                        deactivateId(id);
                    } else {
                        $table.bootstrapTable('hideLoading');
                    }
                }
        );
    }
    
    function activateStage(id){
        $table.bootstrapTable('showLoading');
        var path = '{{ path('settings_activatestage',{'id':0} )}}';
        path = path.substring(0, path.length - 1);

        $.post(path + id, null,
                function (response) {
                    if (response) {
                        $table.bootstrapTable('showLoading');
                        $.post('{{path('settings_table_data')}}', null,
                                function (response) {
                                    if (response) {
                                        $table.bootstrapTable('removeAll');
                                        $table.bootstrapTable('hideLoading');
                                        initResponse = response;
                                        $table.bootstrapTable('append', convertData(response));
                                    } else {
                                        $table.bootstrapTable('hideLoading');
                                    }
                                }
                        );
                    } else {
                        $table.bootstrapTable('hideLoading');
                    }
                }
        );
    }

    function priceSorter(a, b) {
        a = +a.substring(1); // remove $
        b = +b.substring(1);
        if (a > b)
            return 1;
        if (a < b)
            return -1;
        return 0;
    }

    function rowStyle(row, index) {
        var classes = ['active'];

        if (index % 2 === 0) {
            return {
                classes: classes[0]
            };
        }
        return {};
    }
</script>