<!DOCTYPE html>
<html lang="en">
    
        {% include 'LoginLoginBundle:Default:head.html.twig' %}
        
	<body class="no-skin" onload="onLoadBody();">
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			{% include 'LoginLoginBundle:Default:navbar.html.twig' %}
                        
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">


						<!-- /section:settings.box -->
						<div>
                                                {%if errormsg is defined %}
                                                    <div class="alert alert-danger alert-dismissable" id="successmsg">
                                                        <button type="button" class="close bigger-200" data-dismiss="alert" aria-hidden="true">
                                                                            &times;
                                                        </button>
                                                        <center> <strong>{{errormsg}}</strong></center>
                                                    </div>
                                                    <script> window.setTimeout(function() { $("#successmsg").alert('close'); }, 5000); </script>
                                                {%endif%}
                                                {%if successmsg is defined %}
                                                    <div class="alert alert-success alert-dismissable" id="errormsg">
                                                        <button type="button" class="close bigger-200" data-dismiss="alert" aria-hidden="true">
                                                                            &times;
                                                        </button>
                                                        <center> <strong>{{successmsg}}</strong></center>
                                                    </div>
                                                    <script> window.setTimeout(function() { $("#errormsg").alert('close'); }, 5000); </script>
                                                {%endif%}
							
						</div><!-- /.page-header -->
                                                <!-- Modal -->
                                                    <!-- Won Modal -->
                                                    <div class="modal fade" id="wonModal" role="dialog">
                                                      <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                                            <h4 class="modal-title smaller lighter blue">Won Opportunity</h4>                                                        </div>
                                                          <div class="modal-body">
                                                            <div class="form-group" > 
                                                                            <div class="input-group col-sm-12"> 
										<label  for="projectedrevenue">Account Revenue</label>
                                                                                <br>
                                                                                <div class="input-group" >
                                                                                <span class="input-group-addon">
										$
										</span>
                                                                                <input type="text" name="modalrevenue" id="modalrevenue"  onkeyup="updateUserRevenue()"class="col-sm-12" required />
                                                                                <span class="input-group-addon">
										.00
										</span>
                                                                                </div>
                                                                                
                                                                                
                                                                            </div> 
                                                                            <br>
                                                                            <div class="input-group col-sm-12"> 
										<label  for="projectedrevenue">User Revenue</label>
                                                                                <br>
                                                                                <div class="input-group" >
                                                                                <span class="input-group-addon">
										$
										</span>
                                                                                    <input type="hidden" id="commisionnonoriginator">
                                                                                    <input type="text" name="modalrevenue" id="individualrevenue" readonly=""  class="col-sm-12" required />
                                                                                <span class="input-group-addon">
										.00
										</span>
                                                                                </div>
                                                                                
                                                                                
                                                                            </div>     
                                                            </div>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-info" onclick="return setRevenue();" >Submit</button>
                                                              <button type="button" class="btn btn-info" onclick="return clearRevenue();" >Clear</button>
                                                          </div>
                                                        </div>

                                                      </div>
                                                    </div>
                                                    <!-- end of won Modal -->
                                                    <div class="modal fade" id="lostModal" role="dialog">
                                                      <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                                            <h4 class="modal-title smaller lighter blue">Lost Opportunity</h4>                                                       
                                                          </div>
                                                          <div class="modal-body">
                                                            <div class="form-group">
										<label for="notes" >Reason</label>
                                                                                <br>
                                                                            <div class="input-group col-sm-12">      
										<textarea  id="modalreason" class="col-sm-12" name="modalreason" data-parsley-pattern="^[a-zA-Z0-9,.:;'_ ]*$" data-parsley-trigger="keyup"></textarea>
                                                                            </div>    
                                                            </div>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-info" onclick="return setReason();" >Submit</button>
                                                              <button type="button" class="btn btn-info" onclick="return clearReason();" >Clear</button>
                                                          </div>
                                                        </div>

                                                      </div>
                                                    </div>
                                                    <!-- end of lost Modal -->
                                                    <!-- start of add contact Modal -->
                                                     <div class="modal fade" id="addcontact" role="dialog">
                                                      <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                                            <h4 class="modal-title smaller lighter blue">Add Contact</h4> 
                                                            <h5 class="smaller lighter blue" >This contact is not in our pipeline. Please save it first.</h5>
                                                          </div>
                                                         
                                                         <form class="form-horizontal" role="form" action="{{path('contacts_contacts_createcontact')}}" method="post" data-parsley-validate>  
                                                            <div class="modal-body">
                                                               <div class="form-inline form-group">
                                                                    <label class="col-sm-3 control-label no-padding-left" for="name"> Contact name<span style="color:#FF0000;">*</span> </label>
                                                                            <div class="input-group col-sm-6">    
										<input type="text" id="name" placeholder="Contact Name" class="col-sm-12" name="name" data-parsley-trigger="keyup"  required />
                                                                                
                                                                            </div>
                                                                            
                                                                              
                                                                </div> 
                                                                <div class="form-inline form-group">
                                                                    <label class="col-sm-3 control-label no-padding-left" for="name"> Organization name<span style="color:#FF0000;">*</span> </label>
                                                                            <div class="input-group col-sm-6">    
										<input type="text" id="companyname" placeholder="Organization Name" class="col-sm-12" name="companyname" data-parsley-trigger="keyup"  required />
                                                                                
                                                                            </div>
                                                                            
                                                                              
                                                                </div> 
                                                                <div class="form-inline form-group">
										<label class="col-sm-3 control-label no-padding-left" for="email0"> Primary Email<span style="color:#FF0000;">*</span> </label>
                                                                            <div class="input-group col-sm-6">    
										<input type="email" id="email0" placeholder="Email" class="col-sm-12" name="email0" onchange="return contactAvailability()"  data-parsley-type="email" data-parsley-trigger="keyup"  required />
                                                                                <input type="hidden" name="emailtype0" value ="Primary" > 
                                                                                <div id="emailerror"></div>
                                                                            </div>
                                                                            
                                                                              
                                                                </div> 
                                                                <div class="form-inline form-group"  > 
                                                                            
                                                                           
										<label class="col-sm-3 control-label no-padding-left" for="phone0"> Primary Telephone <span style="color:#FF0000;">*</span>  </label>

                                                                                <div class="input-group col-sm-6">     
										<input type="tel" id="phone0" name="phone0" placeholder="( _ _ _ ) _ _ _ - _ _ _ _ Ext._ _ _ _" class="col-sm-12"  data-parsley-trigger="change" onchange="return contactAvailability()" onkeydown="return tel_check(event,'phone0')" onkeypress="return false;" required />
                                                                                <input type="hidden" name="phonetype0" value ="Work-Primary" />
                                                                                <div id="telerror"></div>
                                                                                </div>
                                                                                
                                                                </div> 
                                                                <div class="form-inline form-group" > 
                                                                           
                                                                             
										<label class="col-sm-3 control-label no-padding-left" for="visibility"> Visibility <span style="color:#FF0000;">*</span> </label>
                                                                                <div class="input-group col-sm-6"> 
                                                                                    <select class="form-control" name="visibility" >
                                                                                                <option value="public">Entire Company</option>
                                                                                                <option value="private">Private</option>
														
                                                                                    </select> 
                                                                                </div>
                                                                            
                                                                </div> 
                                                                 <div class="form-inline form-group" > 
                                                                    <label class="col-sm-3 control-label no-padding-left no-margin-left" for="twitter"> Owner(User)<span style="color:#FF0000;">*</span>   </label>
                                                                                <div class="input-group col-sm-6"> 
                                                                                                <select class="form-control" name="username" >
                                                                                                    {%if users is defined%}
                                                                                                        {% for user in users %} 
                                                                                                            {%if name|lower == user.getUsername()|lower%}
                                                                                                               <option value="{{user.getUsername()}}" selected="selected">{{user.getFirstname() ~ ' ' ~ user.getLastname()}}</option>
                                                                                                            {%else%}    
                                                                                                            <option value="{{user.getUsername()}}">{{user.getFirstname()  ~ ' ' ~ user.getLastname()}}</option>
                                                                                                            {%endif%}
                                                                                                      {% endfor %} 
                                                                                                    {%endif%}           
                                                                                                       
                                                                                                </select>
                                                                                </div>
                                                                </div>  
                                                                <input type="hidden" name="opportunityflag" value="true">                                    
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="submit" class="btn btn-info">Save</button>
                                                              <button type="button" class="btn btn-info" onclick="return clearcontact();" >Clear</button>
                                                            </div>
                                                        </form>  
                                                        </div>

                                                      </div>
                                                    </div>   
                                                    
                                                    
                                                    
                                                    <!-- end of add contact Modal -->
                                                <!-- end of Modal -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                                                <h3 class="header smaller lighter blue">Edit Opportunity</h3>
                                                                
								
                                              
                                                                    <form class="form-horizontal" id="opportunityform" role="form" action="{{path('opportunity_updateopportunity')}}" method="post" data-parsley-validate>
                                                                      <div class="well well-lg"> 
                                                                        <div class="form-group">
                                                                            
										<label class="col-sm-2 control-label no-padding-left" for="firstname"> Person Name<span style="color:#FF0000;">*</span>  </label>
                                                                            <div class="input-group col-sm-4">
                                                                                <input type="text" name="personname" value="{{opportunity.getPersonname()}}" id="personname" placeholder="Person Name" class="col-sm-12" onchange="return contactcheck();"  pattern="^[a-zA-Z0-9_()&-,'. ]*$" data-parsley-pattern="^[a-zA-Z0-9_&-,'. ]*$"  data-parsley-trigger="keyup" required/>
                                                                            </div>    
									</div>
                                                                        
                                                                        <div class="form-group">
										<label class="col-sm-2 control-label no-padding-left" for="organizationname"> Organization Name </label>
                                                                            <div class="input-group col-sm-4">
										<input type="text" id="organizationname" value="{{opportunity.getOrganizationname()}}" name="organizationname" placeholder="Organization Name" class="col-sm-12" pattern="^[a-zA-Z0-9_()&-,'. ]*$" data-parsley-pattern="^[a-zA-Z0-9_&-,'. ]*$"  data-parsley-trigger="keyup" />
                                                                             </div>    
									</div>
                                                                          
                                                                         <div class="form-inline form-group" > 
                                                                            <div class="input-group col-sm-12"> 
										<label class="col-sm-2 control-label no-padding-left" for="projectedrevenue"> Projected Revenue <span style="color:#FF0000;">*</span>  </label>
                                                                                <div class="input-group col-sm-4 pull-left" >
                                                                                <span class="input-group-addon">
										$
										</span>
                                                                                <input type="text" name="projectedrevenue" value="{{opportunity.getProjectedrevenue()}}" id="projectedrevenue" onkeyup="return forecasecalculateInchangeofProjectedRevenue();"  class="col-sm-12" required />
                                                                                </div>
                                                                                
                                                                                
                                                                            </div>    
									</div>
                                                                         
                                                                        <div class="form-inline form-group" id="accounttypediv" > 
                                                                            <div class="input-group col-sm-12">   
                                                                                <label class="col-sm-2 control-label no-padding-left" for="username"> Account Type <span style="color:#FF0000;">*</span> </label>
                                                                                <div class="input-group col-sm-4">
                                                                                   
                                                                                    <select class="form-control col-sm-12" name="accounttype" id="accounttype" >
                                                                                        {%if accounttypes is defined%}
                                                                                            {% for accounttype in accounttypes %} 
                                                                                                {%if accounttype.getId == opportunity.getAccounttype %}
                                                                                                    <option value = "{{accounttype.getId}}" selected>{{accounttype.getName}}</option>   
                                                                                                {%else%}    
                                                                                                    <option value = "{{accounttype.getId}}">{{accounttype.getName}}</option>
                                                                                                {%endif%}
                                                                                            {%endfor%}
                                                                                        {%endif%}    
														
                                                                                    </select>
                                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                          
                                                                        <div class="form-inline form-group" id ="stagediv"  > 
                                                                            <div class="input-group col-sm-12">   
                                                                                <label class="col-sm-2 control-label no-padding-left" for="username"> Stage <span style="color:#FF0000;">*</span></label>
                                                                                <div class="input-group col-sm-4">
                                                                                   
                                                                                    <select class="form-control col-sm-12" name="stage" id ="stage" onchange="return stageModal();"  >
                                                                                        {%if stages is defined%}
                                                                                            {% for stage in stages %} 
                                                                                                {%if stage.getId == opportunity.getStage %}
                                                                                                    <option value = "{{stage.getId}}" selected>{{stage.getName}}</option> 
                                                                                                {%else%}    
                                                                                                    <option value = "{{stage.getId}}">{{stage.getName}}</option>
                                                                                                {%endif%}
                                                                                            {%endfor%}
                                                                                        {%endif%}  
                                                                                        <option value = "6" {%if opportunity.getStage == '6' %}selected {%endif%}>Won</option>
                                                                                        <option value = "7" {%if opportunity.getStage == '7' %}selected {%endif%}>Lost</option>
                                                                                    </select>
                                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-inline form-group" > 
                                                                            <div class="input-group col-sm-12">   
                                                                                <label class="col-sm-2 control-label no-padding-left" for="username"> Chance of Sale <span style="color:#FF0000;">*</span></label>
                                                                                                                                                                        
                                                                            <div class="progress col-sm-4 no-padding-left no-padding-right no-margin-bottom" style="height:34px;">
                                                                                <div class="progress-bar col-sm-12 no-padding-left no-padding-right no-margin-bottom" id="progress"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:0%;line-height: 30px;">
                                                                                   0% 
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                       </div>
                                                                      <script type="text/javascript">
                                                                                window.jQuery || document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.js')}}'>"+"<"+"/script>");
                                                                      </script>
                                                                       <script type="text/javascript">
                                                                           function salesetup(){

                                                                                        $.post('{{path('settings_getsale')}}',               
                                                                               {id: document.getElementById('stage').value}, 
                                                                                   function(response){
                                                                                       if(response !== "false"){
                                                                                           console.log("@@@@@@@@@",response);
                                                                                          $('#progress').css('width',response+'%');
                                                                                          $('#progress').html(response+'%'); 
                                                                                               
                                                                                       }else{
                                                                                          console.log(response); 
                                                                                       }
                                                                                   });    
                                                                             }
                                                                           
                                                                        </script>
                                                                         <div class="form-inline form-group" > 
                                                                            <div class="input-group col-sm-12"> 
										<label class="col-sm-2 control-label no-padding-left" for="projectedrevenue"> Weighted Forecast <span style="color:#FF0000;">*</span>  </label>
                                                                                <div class="input-group col-sm-4 pull-left" >
                                                                                <span class="input-group-addon">
										$
										</span>
                                                                                <input type="text" name="forecast" id="forecast"  value="{{opportunity.getForecast()}}" class="col-sm-12" required />
                                                                                </div>
                                                                                
                                                                                
                                                                            </div>    
									</div>     
                                                                        <div class="form-inline form-group" id="producttypediv" > 
                                                                            <div class="input-group col-sm-12">   
                                                                                <label class="col-sm-2 control-label no-padding-left" for="username"> Product Type <span style="color:#FF0000;">*</span></label>
                                                                                <div class="input-group col-sm-4">
                                                                                   
                                                                                    <select class="form-control col-sm-12" name="producttype" id="producttype" >
                                                                                        {%if producttypes is defined%}
                                                                                            {% for producttype in producttypes %} 
                                                                                                {%if producttype.getId == opportunity.getProducttype %}
                                                                                                 <option value = "{{producttype.getId}}" selected>{{producttype.getName}}</option>   
                                                                                                {%else%}    
                                                                                                <option value = "{{producttype.getId}}">{{producttype.getName}}</option>
                                                                                                {%endif%}
                                                                                            {%endfor%}
                                                                                        {%endif%}  
                                                                                    </select>
                                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                          
                                                                        <div class="form-inline form-group" id="opportunitysourcediv" > 
                                                                            <div class="input-group col-sm-12">   
                                                                                <label class="col-sm-2 control-label no-padding-left" for="username"> Opportunity Source <span style="color:#FF0000;">*</span> </label>
                                                                                <div class="input-group col-sm-4">
                                                                                   
                                                                                    <select class="form-control col-sm-12" name="opportunitysource" id="opportunitysource" >
                                                                                        {%if opportunitysources is defined%}
                                                                                            {% for opportunitysource in opportunitysources %} 
                                                                                                {%if opportunitysource.getId == opportunity.getOpportunitysource %}
                                                                                                    <option value = "{{opportunitysource.getId}}" selected>{{opportunitysource.getName}}</option>
                                                                                                {%else%}    
                                                                                                    <option value = "{{opportunitysource.getId}}">{{opportunitysource.getName}}</option>
                                                                                                {%endif%}
                                                                                            {%endfor%}
                                                                                        {%endif%}  	
                                                                                    </select>
                                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                        
                                                                         <div class="form-inline form-group" >
                                                                            <div class="input-group col-sm-12">
                                                                                <label class="col-sm-2 control-label no-padding-left" for="dob"> Expected Closed Date <span style="color:#FF0000;">*</span>  </label>
                                                                                <input class=" col-sm-4 date-picker" id="closeddate" value ="{{opportunity.getCloseddate}}" type="text" name="closeddate" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" />
                                                                                 
                                                                            </div>
                                                                        </div> 
                                                                         <!--  
                                                                        <div class="form-group">
										<label for="notes" class="col-sm-2 control-label no-padding-left">Notes</label>
                                                                            <div class="input-group col-sm-4">      
										<textarea  id="notes" placeholder="Notes" class="col-sm-12" name="notes" data-parsley-pattern="^[a-zA-Z0-9,.:;'_ ]*$" data-parsley-trigger="keyup">{{opportunity.getNotes}}</textarea>
                                                                            </div>    
                                                                        </div> -->
                                                                         
                                                                         <div class="form-inline form-group" id='visibilitydiv'> 
                                                                            <div class="input-group col-sm-12">    
                                                                                <label class="col-sm-2 control-label no-padding-left" for="visibility"> Visibility <span style="color:#FF0000;">*</span> </label>
                                                                                <div class="input-group col-sm-4 pull-left"> 
                                                                                    <select class="form-control" name="visibility" id="visibility" >
                                                                                        
                                                                                                <option value="public" {%if opportunity.getVisibility == 'public'%}selected{%endif%}>Entire Company</option>
                                                                                                <option value="private" {%if opportunity.getVisibility == 'private'%}selected{%endif%}>Private</option>
														
                                                                                    </select> 
                                                                                </div>  
                                                                        
                                                                            </div>
                                                                        </div>  
                                                                        <div class="form-group" id='dualdiv'>
										<label class="col-sm-2 control-label no-padding-top" for="duallist">Opportunity Sharing <span style="color:#FF0000;">*</span>  </label>

										<div class="col-sm-8 no-padding-left">
											<!-- #section:plugins/input.duallist -->
											<select multiple="multiple" name="sharingusers[]" id="duallist">
												{%if users is defined%}
                                                                                                    {%set sharing = opportunity.getSharing()|split(':')%}
                                                                                                        {% for user in users %} 
                                                                                                            {%set flag = 'false'%}
                                                                                                            {%for share in sharing%}
                                                                                                            {%if share|lower == user.getUsername()|lower%}
                                                                                                               <option value="{{user.getUsername()}}" selected="selected">{{user.getFirstname() ~ ' ' ~ user.getLastname()}}</option>
                                                                                                               {%set flag = 'true'%}
                                                                                                            {%endif%}
                                                                                                            {%endfor%}
                                                                                                              {%if flag != 'true' and name != user.getUsername()%} 
                                                                                                                <option value="{{user.getUsername()}}">{{user.getFirstname()  ~ ' ' ~ user.getLastname()}}</option>
                                                                                                                {%set flag = 'false'%}
                                                                                                              {%endif%}  
                                                                                                      {% endfor %} 
                                                                                                    {%endif%}       
											</select>

											<!-- /section:plugins/input.duallist -->
											
										</div>
									</div>                        
                                                                        <input type="hidden"  value="{{opportunity.getId()}}" name="id" /> 
                                                                        <input type="hidden" name="revenue" value="{{opportunity.getRevenue()}}" id="revenue">
                                                                        <input type="hidden" name="userrevenue" value="{{opportunity.getUserrevenue()}}" id="userrevenue">
                                                                        <input type="hidden" name="reason" value="{{opportunity.getReason()}}" id="reason">
                                                                        </div>
                                                                        <div class="clearfix form-actions">
										<div class="col-xs-3" style="margin-left: 12%">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Update Opportunity
											</button>
                                                                                </div>
                                                                                <div class="col-xs-3" style="margin-left: -70px">
											&nbsp; 
                                                                                         <a href="{{ path('opportunity_deleteopportunity',{'id':opportunity.getId()} )}}"><button class="btn btn-danger" type="button">
												<i class="ace-icon fa fa-trash bigger-110"></i>
												Delete Opportunity
											</button></a>
										</div>
									</div>
                                                                    </form>  
                                                                     
									

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			{% include 'LoginLoginBundle:Default:footer.html.twig' %}

			<a href="#" style="margin-right:30px;" id="btn-scroll-up" class="btn-scroll-up btn btn-lg btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-140"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.mobile.custom.js')}}'>"+"<"+"/script>");
		</script>
                <script type="text/javascript">
			jQuery(function($) {
				$('#id-disable-check').on('click', function() {
					var inp = $('#form-input-readonly').get(0);
					if(inp.hasAttribute('disabled')) {
						inp.setAttribute('readonly' , 'true');
						inp.removeAttribute('disabled');
						inp.value="This text field is readonly!";
					}
					else {
						inp.setAttribute('disabled' , 'disabled');
						inp.removeAttribute('readonly');
						inp.value="This text field is disabled!";
					}
				});
			
			
				if(!ace.vars['touch']) {
					$('.chosen-select').chosen({allow_single_deselect:true}); 
					//resize the chosen on window resize
			
					$(window)
					.off('resize.chosen')
					.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
					}).trigger('resize.chosen');
					//resize chosen on sidebar collapse/expand
					$(document).on('settings.ace.chosen', function(e, event_name, event_val) {
						if(event_name != 'sidebar_collapsed') return;
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
					});
			
			
					$('#chosen-multiple-style .btn').on('click', function(e){
						var target = $(this).find('input[type=radio]');
						var which = parseInt(target.val());
						if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
						 else $('#form-field-select-4').removeClass('tag-input-style');
					});
				}
			
			
				$('[data-rel=tooltip]').tooltip({container:'body'});
				$('[data-rel=popover]').popover({container:'body'});
				
				$('textarea[class*=autosize]').autosize({append: "\n"});
				$('textarea.limited').inputlimiter({
					remText: '%n character%s remaining...',
					limitText: 'max allowed : %n.'
				});
			
				$.mask.definitions['~']='[+-]';
				$('.input-mask-date').mask('99/99/9999');
				$('.input-mask-phone').mask('(999) 999-9999');
				$('.input-mask-eyescript').mask('~9.99 ~9.99 999');
				$(".input-mask-product").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});
			
			
			
				$( "#input-size-slider" ).css('width','200px').slider({
					value:1,
					range: "min",
					min: 1,
					max: 8,
					step: 1,
					slide: function( event, ui ) {
						var sizing = ['', 'input-sm', 'input-lg', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
						var val = parseInt(ui.value);
						$('#form-field-4').attr('class', sizing[val]).val('.'+sizing[val]);
					}
				});
			
				$( "#input-span-slider" ).slider({
					value:1,
					range: "min",
					min: 1,
					max: 12,
					step: 1,
					slide: function( event, ui ) {
						var val = parseInt(ui.value);
						$('#form-field-5').attr('class', 'col-xs-'+val).val('.col-xs-'+val);
					}
				});
			
			
				
				//"jQuery UI Slider"
				//range slider tooltip example
				$( "#slider-range" ).css('height','200px').slider({
					orientation: "vertical",
					range: true,
					min: 0,
					max: 100,
					values: [ 17, 67 ],
					slide: function( event, ui ) {
						var val = ui.values[$(ui.handle).index()-1] + "";
			
						if( !ui.handle.firstChild ) {
							$("<div class='tooltip right in' style='display:none;left:16px;top:-6px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
							.prependTo(ui.handle);
						}
						$(ui.handle.firstChild).show().children().eq(1).text(val);
					}
				}).find('span.ui-slider-handle').on('blur', function(){
					$(this.firstChild).hide();
				});
				
				
				$( "#slider-range-max" ).slider({
					range: "max",
					min: 1,
					max: 10,
					value: 2
				});
				
				$( "#slider-eq > span" ).css({width:'90%', 'float':'left', margin:'15px'}).each(function() {
					// read initial values from markup and remove that
					var value = parseInt( $( this ).text(), 10 );
					$( this ).empty().slider({
						value: value,
						range: "min",
						animate: true
						
					});
				});
				
				$("#slider-eq > span.ui-slider-purple").slider('disable');//disable third item
			
				
				$('#id-input-file-1 , #id-input-file-2').ace_file_input({
					no_file:'No File ...',
					btn_choose:'Choose',
					btn_change:'Change',
					droppable:false,
					onchange:null,
					thumbnail:false //| true | large
					//whitelist:'gif|png|jpg|jpeg'
					//blacklist:'exe|php'
					//onchange:''
					//
				});
				//pre-show a file name, for example a previously selected file
				//$('#id-input-file-1').ace_file_input('show_file_list', ['myfile.txt'])
			
			
				$('#id-input-file-3').ace_file_input({
					style:'well',
					btn_choose:'Drop files here or click to choose',
					btn_change:null,
					no_icon:'ace-icon fa fa-cloud-upload',
					droppable:true,
					thumbnail:'small'//large | fit
					//,icon_remove:null//set null, to hide remove/reset button
					/**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
					/**,before_remove : function() {
						return true;
					}*/
					,
					preview_error : function(filename, error_code) {
						//name of the file that failed
						//error_code values
						//1 = 'FILE_LOAD_FAILED',
						//2 = 'IMAGE_LOAD_FAILED',
						//3 = 'THUMBNAIL_FAILED'
						//alert(error_code);
					}
			
				}).on('change', function(){
					//console.log($(this).data('ace_input_files'));
					//console.log($(this).data('ace_input_method'));
				});
				
				
				//$('#id-input-file-3')
				//.ace_file_input('show_file_list', [
					//{type: 'image', name: 'name of image', path: 'http://path/to/image/for/preview'},
					//{type: 'file', name: 'hello.txt'}
				//]);
			
				
				
			
				//dynamically change allowed formats by changing allowExt && allowMime function
				$('#id-file-format').removeAttr('checked').on('change', function() {
					var whitelist_ext, whitelist_mime;
					var btn_choose
					var no_icon
					if(this.checked) {
						btn_choose = "Drop images here or click to choose";
						no_icon = "ace-icon fa fa-picture-o";
			
						whitelist_ext = ["jpeg", "jpg", "png", "gif" , "bmp"];
						whitelist_mime = ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"];
					}
					else {
						btn_choose = "Drop files here or click to choose";
						no_icon = "ace-icon fa fa-cloud-upload";
						
						whitelist_ext = null;//all extensions are acceptable
						whitelist_mime = null;//all mimes are acceptable
					}
					var file_input = $('#id-input-file-3');
					file_input
					.ace_file_input('update_settings',
					{
						'btn_choose': btn_choose,
						'no_icon': no_icon,
						'allowExt': whitelist_ext,
						'allowMime': whitelist_mime
					})
					file_input.ace_file_input('reset_input');
					
					file_input
					.off('file.error.ace')
					.on('file.error.ace', function(e, info) {
						//console.log(info.file_count);//number of selected files
						//console.log(info.invalid_count);//number of invalid files
						//console.log(info.error_list);//a list of errors in the following format
						
						//info.error_count['ext']
						//info.error_count['mime']
						//info.error_count['size']
						
						//info.error_list['ext']  = [list of file names with invalid extension]
						//info.error_list['mime'] = [list of file names with invalid mimetype]
						//info.error_list['size'] = [list of file names with invalid size]
						
						
						/**
						if( !info.dropped ) {
							//perhapse reset file field if files have been selected, and there are invalid files among them
							//when files are dropped, only valid files will be added to our file array
							e.preventDefault();//it will rest input
						}
						*/
						
						
						//if files have been selected (not dropped), you can choose to reset input
						//because browser keeps all selected files anyway and this cannot be changed
						//we can only reset file field to become empty again
						//on any case you still should check files with your server side script
						//because any arbitrary file can be uploaded by user and it's not safe to rely on browser-side measures
					});
				
				});
			
				$('#spinner1').ace_spinner({value:0,min:0,max:200,step:10, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
				.closest('.ace-spinner')
				.on('changed.fu.spinbox', function(){
					//alert($('#spinner1').val())
				}); 
				$('#spinner2').ace_spinner({value:0,min:0,max:10000,step:100, touch_spinner: true, icon_up:'ace-icon fa fa-caret-up bigger-110', icon_down:'ace-icon fa fa-caret-down bigger-110'});
				$('#spinner3').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				$('#spinner4').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'ace-icon fa fa-plus', icon_down:'ace-icon fa fa-minus', btn_up_class:'btn-purple' , btn_down_class:'btn-purple'});
			
				//$('#spinner1').ace_spinner('disable').ace_spinner('value', 11);
				//or
				//$('#spinner1').closest('.ace-spinner').spinner('disable').spinner('enable').spinner('value', 11);//disable, enable or change value
				//$('#spinner1').closest('.ace-spinner').spinner('value', 0);//reset to 0
			
			
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			
				//or change it into a date range picker
				$('.input-daterange').datepicker({autoclose:true});
			
			
				//to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
				$('input[name=date-range-picker]').daterangepicker({
					'applyClass' : 'btn-sm btn-success',
					'cancelClass' : 'btn-sm btn-default',
					locale: {
						applyLabel: 'Apply',
						cancelLabel: 'Cancel',
					}
				})
				.prev().on(ace.click_event, function(){
					$(this).next().focus();
				});
			
			
				$('#timepicker1').timepicker({
					minuteStep: 1,
					showSeconds: true,
					showMeridian: false
				}).next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
				
				$('#date-timepicker1').datetimepicker().next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
				
			
				$('#colorpicker1').colorpicker();
			
				$('#simple-colorpicker-1').ace_colorpicker();
				//$('#simple-colorpicker-1').ace_colorpicker('pick', 2);//select 2nd color
				//$('#simple-colorpicker-1').ace_colorpicker('pick', '#fbe983');//select #fbe983 color
				//var picker = $('#simple-colorpicker-1').data('ace_colorpicker')
				//picker.pick('red', true);//insert the color if it doesn't exist
			
			
				$(".knob").knob();
				
				
				var tag_input = $('#form-field-tags');
				try{
					tag_input.tag(
					  {
						placeholder:tag_input.attr('placeholder'),
						//enable typeahead by specifying the source array
						source: ace.vars['US_STATES'],//defined in ace.js >> ace.enable_search_ahead
						/**
						//or fetch data from database, fetch those that match "query"
						source: function(query, process) {
						  $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
						  .done(function(result_items){
							process(result_items);
						  });
						}
						*/
					  }
					)
			
					//programmatically add a new
					var $tag_obj = $('#form-field-tags').data('tag');
					$tag_obj.add('Programmatically Added');
				}
				catch(e) {
					//display a textarea for old IE, because it doesn't support this plugin or another one I tried!
					tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
					//$('#form-field-tags').autosize({append: "\n"});
				}
				
				
				/////////
				$('#modal-form input[type=file]').ace_file_input({
					style:'well',
					btn_choose:'Drop files here or click to choose',
					btn_change:null,
					no_icon:'ace-icon fa fa-cloud-upload',
					droppable:true,
					thumbnail:'large'
				})
				
				//chosen plugin inside a modal will have a zero width because the select element is originally hidden
				//and its width cannot be determined.
				//so we set the width after modal is show
				$('#modal-form').on('shown.bs.modal', function () {
					if(!ace.vars['touch']) {
						$(this).find('.chosen-container').each(function(){
							$(this).find('a:first-child').css('width' , '210px');
							$(this).find('.chosen-drop').css('width' , '210px');
							$(this).find('.chosen-search input').css('width' , '200px');
						});
					}
				})
				/**
				//or you can activate the chosen plugin after modal is shown
				//this way select element becomes visible with dimensions and chosen works as expected
				$('#modal-form').on('shown', function () {
					$(this).find('.modal-chosen').chosen();
				})
				*/
			
				
				
				$(document).one('ajaxloadstart.page', function(e) {
					$('textarea[class*=autosize]').trigger('autosize.destroy');
					$('.limiterBox,.autosizejs').remove();
					$('.daterangepicker.dropdown-menu,.colorpicker.dropdown-menu,.bootstrap-datetimepicker-widget.dropdown-menu').remove();
				});
			
			});
		
                </script>
                <!--my custom scripts-->
                <script type="text/javascript">
                    function onLoadBody()
                        {   
                            salesetup();
                            {%if flag is defined%}
                            if({{flag}} == true){
                                 document.getElementById('personname').readOnly = true;
                                 document.getElementById('organizationname').readOnly = true;
                                 document.getElementById('projectedrevenue').readOnly = true;
                                 document.getElementById('accounttypediv').style.display = 'none' ;
                                 document.getElementById('stagediv').style.display = 'none' ;
                                 document.getElementById('forecast').readOnly = true;
                                 document.getElementById('producttypediv').style.display = 'none' ;
                                 document.getElementById('opportunitysourcediv').style.display = 'none' ;
                                 document.getElementById('closeddate').readOnly = true;
                                 document.getElementById('visibilitydiv').style.display = 'none' ;
                                 document.getElementById('dualdiv').style.display = 'none' ;
                            }
                            {%endif%}
                           
                            
                        }
                </script>
                <script>
                    function contactAvailability(){
                        if('' != document.getElementById('email0').value && '' != document.getElementById('phone0').value){
                            $.post('{{path('contacts_contacts_contactvalidate')}}',               
                                {email: document.getElementById('email0').value,tel:document.getElementById('phone0').value}, 
                            function(response){
                                if(response == "true"){
                                    document.getElementById('email0').style.color ="#B94A48";
                                    document.getElementById('email0').style.backgroundColor ="#F2DEDE";
                                    document.getElementById('email0').style.border ="1px solid #EED3D7";
                                    document.getElementById('phone0').style.color ="#B94A48";
                                    document.getElementById('phone0').style.backgroundColor ="#F2DEDE";
                                    document.getElementById('phone0').style.border ="1px solid #EED3D7";
                                    document.getElementById('emailerror').innerHTML = "<font color = '#B94A48'>This contact already exists.</font>";
                                    document.getElementById('telerror').innerHTML = "<font color = '#B94A48'>This contact already exists.</font>";
                                    
                                }else{
                                    document.getElementById('email0').style.color ="#468847";
                                    document.getElementById('email0').style.backgroundColor ="#DFF0D8";
                                    document.getElementById('email0').style.border ="1px solid #D6E9C6";
                                    document.getElementById('phone0').style.color ="#468847";
                                    document.getElementById('phone0').style.backgroundColor ="#DFF0D8";
                                    document.getElementById('phone0').style.border ="1px solid #D6E9C6";
                                    document.getElementById('emailerror').innerHTML = "";
                                    document.getElementById('telerror').innerHTML = "";
                                }
                            });    
                        }
                    }
                </script>    
                <script>
                    function forecasecalculateInchangeofProjectedRevenue(){
                        
                        revenue = $('#projectedrevenue').val();
                        if(document.getElementById('stage').value !== '' && document.getElementById('projectedrevenue').value !== '' ){
                            $.post('{{path('login_login_getCommissionoriginator')}}',               
                              {name: "{{name}}"}, 
                                  function(response){
                                      if(response !== "false"){
                                          if(document.getElementById('stage').value == '6'){
                                              document.getElementById('forecast').value = ((revenue * response * 100 )/10000).toLocaleString();
                                              $('#forecast').number( true, 0 ); 
                                          }else if(document.getElementById('stage').value == '7'){
                                              document.getElementById('forecast').value = 0;
                                          }else{
                                              $.post('{{path('settings_getsale')}}',               
                                                    {id: document.getElementById('stage').value}, 
                                                function(response1){
                                                    if(response !== "false"){
                                                         document.getElementById('forecast').value = ((revenue * response * response1 )/10000).toLocaleString();
                                                         $('#forecast').number( true, 0 ); 
                                                    }else{
                                                        console.log(response); 
                                                    }
                                                });    
                                          }
                                         
                                      }else{
                                         console.log(response); 
                                      }
                                 });    
                            
                        }
                        
                    }
                     function forecastcalculate(salepercentage){
                        revenue = $('#projectedrevenue').val()
                        if(document.getElementById('stage').value !== '' && document.getElementById('projectedrevenue').value !== '' ){
                            document.getElementById('forecast').value = ((revenue * document.getElementById('commisionnonoriginator').value * salepercentage )/10000).toLocaleString();
                            $('#forecast').number( true, 0 ); 
                        }
                    }
                    function contactcheck(){
                        
                        $.post('{{path('contacts_contacts_contactavailability')}}',               
                {personname: document.getElementById('personname').value}, 
                    function(response){
                        if(response == "true"){
                            
                        }else{
                          
                           $('#addcontact').modal('show');
                        }
                    });    
                    }
                    
                    function clearcontact(){
                         document.getElementById('name').value = '';
                         document.getElementById('companyname').value = '';
                         document.getElementById('email0').value = '';
                         document.getElementById('phone0').value = '';
                         number = '';
                    }
                    
                     function stageModal(){
                        $.post('{{path('login_login_getCommissionoriginator')}}',               
                              {name: "{{name}}"}, 
                                  function(response){
                                      if(response !== "false"){
                                          document.getElementById('commisionnonoriginator').value = response;
                                          if(document.getElementById('stage').value == '6'){
                                                $('#progress').css('width','100%');
                                                 $('#progress').html('100%');
                                                 //get commision originator

                                                 $('#wonModal').modal('show');
                                                  forecastcalculate(100);
                                            }
                                            else if(document.getElementById('stage').value == '7'){
                                                $('#progress').css('width','0%');
                                                 $('#progress').html('0%'); 
                                                $('#lostModal').modal('show');
                                                 forecastcalculate(0);

                                            }
                                            else{

                                                $.post('{{path('settings_getsale')}}',               
                                    {id: document.getElementById('stage').value}, 
                                        function(response){
                                            if(response !== "false"){
                                                console.log("@@@@@@@@@",response);
                                               $('#progress').css('width',response+'%');
                                               $('#progress').html(response+'%'); 
                                                forecastcalculate(response);
                                            }else{
                                               console.log(response); 
                                            }
                                        });    
                            
                                            }
                                      }else{
                                         console.log(response); 
                                      }
                                 });    
                        
                    }
                    
                    function setRevenue(){
                        document.getElementById('revenue').value = document.getElementById('modalrevenue').value;
                        document.getElementById('userrevenue').value = document.getElementById('individualrevenue').value;
                       
                        $('#opportunityform').submit();
                        $('#wonModal').modal('hide');
                        
                    }
                    
                    function clearRevenue(){
                        document.getElementById('modalrevenue').value = '';
                    }
                    
                    function updateUserRevenue(){
                        amount = $('#modalrevenue').val();
                        document.getElementById('individualrevenue').value = ((amount*(document.getElementById('commisionnonoriginator').value))/100).toLocaleString();
                    }
                    
                    function setReason(){
                        document.getElementById('reason').value = document.getElementById('modalreason').value;
                        $('#lostModal').modal('hide');
                    }
                    
                    function clearReason(){
                        document.getElementById('modalreason').value = '';
                    }
                    
                    function usernameAvailability(){
                        
                        $.post('{{path('login_login_uservalidateajax')}}',               
                {username: document.getElementById('username').value}, 
                    function(response){
                        if(response == "true"){
                            document.getElementById('username').style.color ="#B94A48";
                            document.getElementById('username').style.backgroundColor ="#F2DEDE";
                            document.getElementById('username').style.border ="1px solid #EED3D7";
                            document.getElementById('usernameerror').innerHTML = "<font color = '#B94A48'>username already exists. try a different one.</font>";
                        }else{
                            document.getElementById('username').style.color ="#468847";
                            document.getElementById('username').style.backgroundColor ="#DFF0D8";
                            document.getElementById('username').style.border ="1px solid #D6E9C6";
                            document.getElementById('usernameerror').innerHTML = "";
                        }
                    });    
                }
                
                function fill(){
                        $.post('{{path('login_login_getcompanyajax')}}',null, 
                    function(response){
                        if(response){
                            var jsonString = JSON.parse(response);
                            if(document.getElementById('CopyAddress').checked){
                                
                                if(jsonString.companyName != null){
                                    document.getElementById('companyName').value = jsonString.companyName;
                                }
                                if(jsonString.address1 != null){
                                    document.getElementById('address1').value = jsonString.address1;
                                }
                                if(jsonString.address2 != null){
                                    document.getElementById('address2').value = jsonString.address2;
                                }
                                if(jsonString.city != null){
                                    document.getElementById('city').value = jsonString.city;
                                }
                                if(jsonString.state != null){
                                    document.getElementById('state').value = jsonString.state;
                                }
                                 if(jsonString.postalcode != null){
                                    document.getElementById('postalcode').value = jsonString.postalcode;
                                }
                                
                            }else{
                                
                                 document.getElementById('companyName').value = "";
                                 document.getElementById('address1').value = "";
                                 document.getElementById('address2').value = "";
                                 document.getElementById('city').value = "";
                                 document.getElementById('state').value = "";
                                 document.getElementById('postalcode').value = "";
                            }
                        }
                    });
                    }
                    
                     var number = '';
                   function tel_check(e){
                       var back_flag = true;
                       var bracket_flag = true;
                       var flag = true;
                       var update_flag = true;
                       var content = document.getElementById('officetel').value;
                       var last_ascii = content.charCodeAt(content.length - 1);
                       var i = 1;
                       if(e.keyCode == 9){
                           return true;
                       }
                       while(last_ascii == 8){
                           i++;
                           last_ascii = content.charCodeAt(content.length - i);
                           
                       }
                       if(e.keyCode > 47 && e.keyCode < 58 && number.length < 14){
                           number += String.fromCharCode(e.keyCode);
                       }else if(e.keyCode == 8){
                           document.getElementById('officetel').value = content.substring(0,content.length - i);
                           if(last_ascii>47 && last_ascii<58){
                               number = number.substring(0, number.length-1);
                               
                           }
                           if(number.length === 6){
                               back_flag = false;
                           }else{
                               back_flag = true;
                           }
                           if(number.length === 10){
                               flag = false;
                           }
                           if(number.length === 3){
                               bracket_flag = false;
                           }
                       }else{
                           return false;
                       }
                       
                        if(number.length > 14){
                           return false;
                       }
                       if(number.length == 3 && bracket_flag){
                           document.getElementById('officetel').value = "("+number+") ";
                           update_flag = false;
                       }
                       if(number.length == 6 && back_flag){
                           document.getElementById('officetel').value = "("+number.substring(0,3)+") "+number.substring(3,6)+"-";
                           update_flag = false;
                       }
                       if(number.length == 11 && flag){
                           document.getElementById('officetel').value = "("+number.substring(0,3)+") "+number.substring(3,6)+"-"+number.substring(6,10)+" Ext."+number[id].substring(10,11);
                           update_flag = false;
                       }
                       if(e.keyCode != 8 && update_flag){
                           document.getElementById('officetel').value +=  String.fromCharCode(e.keyCode);
                       }
                      
                       return false;
                   }
                   
                   var mob_number = '';
                   function mob_check(e){
                       var back_flag = true;
                       var bracket_flag = true;
                       var flag = true;
                       var update_flag = true;
                       var content = document.getElementById('mobile').value;
                       var last_ascii = content.charCodeAt(content.length - 1);
                       var i = 1;
                       if(e.keyCode == 9){
                           return true;
                       }
                       while(last_ascii == 8){
                           i++;
                           last_ascii = content.charCodeAt(content.length - i);
                           
                       }
                       if(e.keyCode > 47 && e.keyCode < 58 && mob_number.length < 10){
                           mob_number += String.fromCharCode(e.keyCode);
                       }else if(e.keyCode == 8){
                           
                           if(last_ascii>47 && last_ascii<58){
                               mob_number = mob_number.substring(0, mob_number.length-1);
                           }
                           document.getElementById('mobile').value = content.substring(0,content.length - i);
                           if(mob_number.length === 6){
                               back_flag = false;
                           }else{
                               back_flag = true;
                           }
                           if(mob_number.length === 3){
                               bracket_flag = false;
                           }
                       }else{
                           return false;
                       }
                       
                        if(mob_number.length > 10){
                           return false;
                       }
                       if(mob_number.length == 3 && bracket_flag){
                           document.getElementById('mobile').value = "("+mob_number+") ";
                           update_flag = false;
                       }
                       if(mob_number.length == 6 && back_flag){
                           document.getElementById('mobile').value = "("+mob_number.substring(0,3)+") "+mob_number.substring(3,6)+"-";
                           update_flag = false;
                       }
                       if(e.keyCode != 8 && update_flag){
                           document.getElementById('mobile').value +=  String.fromCharCode(e.keyCode);
                       }
                      
                       return false;
                   }
                   
                   var $currency_val = '';
                   function currency_format(e,id){
                       
                       if(e.keyCode > 47 && e.keyCode < 58 && $currency_val.length < 12){
                           $currency_val += String.fromCharCode(e.keyCode);
                           $currency_val_edit = parseInt($currency_val).toLocaleString();
                           if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                           }
                           return false;
                       }else if(e.keyCode == 8){
                           $currency_val = $currency_val.substring(0,$currency_val.length - 1);
                           $currency_val_edit = parseInt($currency_val).toLocaleString();
                            if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                            }else{
                                document.getElementById(id).value = '';
                            }
                            return false;
                       }else if(e.keyCode == 9){
                           return true;
                       }
                       else{
                           return false;
                       }
                   }
                   
                   var $currency_val1 = '';
                   function currency_format1(e,id){
                       
                       if(e.keyCode > 47 && e.keyCode < 58 && $currency_val1.length < 12){
                           $currency_val1 += String.fromCharCode(e.keyCode);
                           $currency_val_edit = parseInt($currency_val1).toLocaleString();
                           if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                            }
                            return false;
                       }else if(e.keyCode == 8){
                           $currency_val1 = $currency_val1.substring(0,$currency_val1.length - 1);
                           $currency_val_edit = parseInt($currency_val1).toLocaleString();
                           console.log("##################",$currency_val_edit);
                           if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                            }else{
                                document.getElementById(id).value = '';
                            }
                            return false;
                       }else if(e.keyCode == 9){
                           return true;
                       }
                       else{
                           return false;
                       }
                       
                       
                   }
                    var $currency_val2 = '';
                   function currency_format2(e,id){
                       
                       if(e.keyCode > 47 && e.keyCode < 58 && $currency_val2.length < 12){
                           $currency_val2 += String.fromCharCode(e.keyCode);
                           $currency_val_edit = parseInt($currency_val2).toLocaleString();
                           if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                            }
                            return false;
                       }else if(e.keyCode == 8){
                           $currency_val2 = $currency_val2.substring(0,$currency_val2.length - 1);
                           $currency_val_edit = parseInt($currency_val2).toLocaleString();
                           console.log("##################",$currency_val_edit);
                           if($currency_val_edit != "NaN"){
                                document.getElementById(id).value = $currency_val_edit;
                            }else{
                                document.getElementById(id).value = '';
                            }
                            return false;
                       }else if(e.keyCode == 9){
                           return true;
                       }
                       else{
                           return false;
                       }
                       
                       
                   }
                </script>  
                <script type="text/javascript">
			jQuery(function($){
			    var demo1 = $('select[name="sharingusers[]"]').bootstrapDualListbox({infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>'});
				var container1 = demo1.bootstrapDualListbox('getContainer');
				container1.find('.btn').addClass('btn-white btn-info btn-bold');
			
				/**var setRatingColors = function() {
					$(this).find('.star-on-png,.star-half-png').addClass('orange2').removeClass('grey');
					$(this).find('.star-off-png').removeClass('orange2').addClass('grey');
				}*/
				$('.rating').raty({
					'cancel' : true,
					'half': true,
					'starType' : 'i'
					/**,
					
					'click': function() {
						setRatingColors.call(this);
					},
					'mouseover': function() {
						setRatingColors.call(this);
					},
					'mouseout': function() {
						setRatingColors.call(this);
					}*/
				})//.find('i:not(.star-raty)').addClass('grey');
				
				
				
				//////////////////
				//select2
				$('.select2').css('width','200px').select2({allowClear:true})
				$('#select2-multiple-style .btn').on('click', function(e){
					var target = $(this).find('input[type=radio]');
					var which = parseInt(target.val());
					if(which == 2) $('.select2').addClass('tag-input-style');
					 else $('.select2').removeClass('tag-input-style');
				});
				
				//////////////////
				$('.multiselect').multiselect({
				 enableFiltering: true,
				 buttonClass: 'btn btn-white btn-primary',
				 templates: {
					button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"></button>',
					ul: '<ul class="multiselect-container dropdown-menu"></ul>',
					filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
					filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
					li: '<li><a href="javascript:void(0);"><label></label></a></li>',
					divider: '<li class="multiselect-item divider"></li>',
					liGroup: '<li class="multiselect-item group"><label class="multiselect-group"></label></li>'
				 }
				});
				
				
				///////////////////
					
				//typeahead.js
				//example taken from plugin's page at: https://twitter.github.io/typeahead.js/examples/
				var substringMatcher = function(strs) {
					return function findMatches(q, cb) {
						var matches, substringRegex;
					 
						// an array that will be populated with substring matches
						matches = [];
					 
						// regex used to determine if a string contains the substring `q`
						substrRegex = new RegExp(q, 'i');
					 
						// iterate through the pool of strings and for any string that
						// contains the substring `q`, add it to the `matches` array
						$.each(strs, function(i, str) {
							if (substrRegex.test(str)) {
								// the typeahead jQuery plugin expects suggestions to a
								// JavaScript object, refer to typeahead docs for more info
								matches.push({ value: str });
							}
						});
			
						cb(matches);
					}
				 }
			
				 $('input.typeahead').typeahead({
					hint: true,
					highlight: true,
					minLength: 1
				 }, {
					name: 'states',
					displayKey: 'value',
					source: substringMatcher(ace.vars['US_STATES'])
				 });
					
					
				///////////////
				
				
				//in ajax mode, remove remaining elements before leaving page
				$(document).one('ajaxloadstart.page', function(e) {
					$('[class*=select2]').remove();
					$('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
					$('.rating').raty('destroy');
					$('.multiselect').multiselect('destroy');
				});
			
			});
		</script>
                <script src="{{asset('bundles/loginlogin/js/parsley.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/parsley.min.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/parsley.remote.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/parsley.remote.min.js')}}"></script>
                
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap.js')}}"></script>
                
		<!-- page specific plugin scripts -->
                <script src="{{asset('bundles/loginlogin/js/ace/jquery-ui.custom.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.ui.touch-punch.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/chosen.jquery.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/fuelux.spinner.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-datepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-timepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/moment.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/daterangepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-datetimepicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-colorpicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.knob.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.autosize.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.inputlimiter.1.3.1.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.maskedinput.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap-tag.js')}}"></script>
                
                <script src="{{asset('bundles/loginlogin/js/ace/jquery.bootstrap-duallistbox.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/ace/jquery.raty.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/ace/bootstrap-multiselect.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/ace/select2.js')}}"></script>
                <script src="{{asset('bundles/loginlogin/js/ace/typeahead.jquery.js')}}"></script>

		<!-- ace scripts -->
		<script src="{{asset('bundles/loginlogin/js/ace/elements.scroller.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.colorpicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.fileinput.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.typeahead.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wysiwyg.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.spinner.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.treeview.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wizard.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.aside.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.ajax-content.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.touch-drag.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar-scroll-1.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.submenu-hover.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-box.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-rtl.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-skin.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-on-reload.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.searchbox-autocomplete.js')}}"></script>
                 <script src="{{asset('bundles/loginlogin/js/ace/jquery.number.js')}}"></script>
                  <script src="{{asset('bundles/loginlogin/js/ace/jquery.maskedinput.js')}}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
                        $(function(){
				
				//0 means no decimal places
				$('#projectedrevenue').number( true, 0 );
                                $('#forecast').number( true, 2 );
                                $('#modalrevenue').number( true, 0 );
                                $('#userrevenue').number( true, 0 );
                                
				
				
				
			});
			jQuery(function($) {
			 var $sidebar = $('.sidebar').eq(0);
			 if( !$sidebar.hasClass('h-sidebar') ) return;
			
			 $(document).on('settings.ace.top_menu' , function(ev, event_name, fixed) {
				if( event_name !== 'sidebar_fixed' ) return;
			
				var sidebar = $sidebar.get(0);
				var $window = $(window);
			
				//return if sidebar is not fixed or in mobile view mode
				var sidebar_vars = $sidebar.ace_sidebar('vars');
				if( !fixed || ( sidebar_vars['mobile_view'] || sidebar_vars['collapsible'] ) ) {
					$sidebar.removeClass('lower-highlight');
					//restore original, default marginTop
					sidebar.style.marginTop = '';
			
					$window.off('scroll.ace.top_menu')
					return;
				}
			
			
				 var done = false;
				 $window.on('scroll.ace.top_menu', function(e) {
			
					var scroll = $window.scrollTop();
					scroll = parseInt(scroll / 4);//move the menu up 1px for every 4px of document scrolling
					if (scroll > 17) scroll = 17;
			
			
					if (scroll > 16) {			
						if(!done) {
							$sidebar.addClass('lower-highlight');
							done = true;
						}
					}
					else {
						if(done) {
							$sidebar.removeClass('lower-highlight');
							done = false;
						}
					}
			
					sidebar.style['marginTop'] = (17-scroll)+'px';
				 }).triggerHandler('scroll.ace.top_menu');
			
			 }).triggerHandler('settings.ace.top_menu', ['sidebar_fixed' , $sidebar.hasClass('sidebar-fixed')]);
			
			 $(window).on('resize.ace.top_menu', function() {
				$(document).triggerHandler('settings.ace.top_menu', ['sidebar_fixed' , $sidebar.hasClass('sidebar-fixed')]);
			 });
			
			
			});
		</script>

		
	</body>
</html>

