<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{path('opportunity_saveopportunity')}}" role="form" method="post" enctype="multipart/form-data" data-parsley-validate>
                <div class="row">			
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstname">Contact Name <span style="color:#FF0000;">*</span></label>
                            <input type="text" name="personname" id="personname" {%if personname is defined %} value="{{personname}}"{%endif%} class="form-control" id="name"  placeholder="" pattern="^[a-zA-Z_ ]*$" data-parsley-pattern="^[a-zA-Z_ ]*$"  data-parsley-trigger="keyup" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Organization Name </label>
                            <input type="text" name="organizationname" id="organizationname" {%if  organizationname is defined %} {%if organizationname != 'null'%} value="{{ organizationname}}"{%endif%}{%endif%}  class="form-control" id="companyname" placeholder="" pattern="^[a-zA-Z0-9_,.:'; ]*$" data-parsley-pattern="^[a-zA-Z0-9_,.:'; ]*$"  data-parsley-trigger="keyup"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Projected Revenue <span style="color:#FF0000;">*</span></label>
                            <input type="text" name="projectedrevenue" id="projectedrevenue" class="form-control" id="companyname" placeholder="" pattern="^[a-zA-Z0-9_,.:'; ]*$" data-parsley-pattern="^[a-zA-Z0-9_,.:'; ]*$"  onkeyup ="return forecasecalculateInchangeofProjectedRevenue();" data-parsley-trigger="keyup"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Account Type <span style="color:#FF0000;">*</span></label>
                            <select class="form-control" name="accounttype" >
                                {%if accounttypes is defined%}
                                    {% for accounttype in accounttypes %} 
                                        <option value = "{{accounttype.getId}}">{{accounttype.getName}}</option>
                                    {%endfor%}
                                {%endif%}    
                            </select>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username"> Stage <span style="color:#FF0000;">*</span></label>
                            <select class="form-control" id ="stage" onchange="return initiateStageModal();" name="stage" >
                                {%if stages is defined%}
                                    {% for stage in stages %} 
                                        <option value = "{{stage.Id}}">{{stage.getName}}</option>
                                    {%endfor%}
                                {%endif%}
                                <option value = "won">Won</option>
                                <option value = "lost">Lost</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username"> Chance of Sale <span style="color:#FF0000;">*</span></label>
                            <div class="progress" style="height:34px;">
                                <div class="progress-bar" id="progress"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:0%;line-height: 30px;">
                                    0% 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Weighted Forecast <span style="color:#FF0000;">*</span></label>
                            <input type="text" name="forecast" id="forecast" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Product Type <span style="color:#FF0000;">*</span></label>
                            <select class="form-control" name="producttype" >
                                {%if producttypes is defined%}
                                    {% for producttype in producttypes %} 
                                        <option value = "{{producttype.getId}}">{{producttype.getName}}</option>
                                    {%endfor%}
                                {%endif%}  
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Opportunity Source <span style="color:#FF0000;">*</span></label>
                            <select class="form-control" name="opportunitysource">
                                <option value = "">Enter the deal source</option>
                                {%if opportunitysources is defined%}
                                    {% for opportunitysource in opportunitysources %} 
                                        <option value = "{{opportunitysource.Id}}">{{opportunitysource.getName}}</option>
                                    {%endfor%}
                                {%endif%}  	
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Expected Closed Date <span style="color:#FF0000;">*</span></label>
                            <input id="closeddate" type="date" name="closeddate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">				
                        <div class="form-group">
                            <label for="username">Visibility <span style="color:#FF0000;">*</span></label>
                            <select class="form-control" name="visibility" >     
                                <option value="public">Entire Company</option>
                                <option value="private">Private</option>		
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="row">			
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="firstname">Tags</label>
                            <div id="tagDiv">
                                <input type="text" value="" name="tags" id="tags" class="form-control" data-role="tagsinput" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">			
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="duallist">Opportunity Sharing <span style="color:#FF0000;">*</span>  </label>
                            <!-- #section:plugins/input.duallist -->
                            <select  class="form-control" multiple="multiple" name="sharingusers[]" id="duallist">
                                {%if users is defined%}
                                    {% for user in users %} 
                                        {%if name != user.getUsername()%}   
                                            <option value="{{user.getUsername()}}">{{user.getFirstname()  ~ ' ' ~ user.getLastname()}}</option>
                                        {%endif%}
                                    {% endfor %} 
                                {%endif%}    
                            </select>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="revenue" id="revenue">
                <input type="hidden" name="userrevenue" id="userrevenue">
                <input type="hidden" name="modalnoteshidden" id="modalnoteshidden">
                <input type="hidden" name="reason" id="reason">
                <input type="hidden" name="contactid" id="contactid" value="{{contactid}}"> 

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="avatar"> </label>
                            <button id="savebutton" class="btn btn-primary">Save</button>
                            <a class="btn btn-default" href="{{path('contacts_contacts_contacts')}}">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{asset('bundles_v2.0/dist/js/bootstrap-tagsinput.js')}}"></script>
<script src="{{asset('bundles/loginlogin/js/ace/jquery.bootstrap-duallistbox.js')}}"></script>
{% include 'OpportunityBundle:Default:opportunityformScript.html.twig' %}