<!DOCTYPE html>
<html lang="en">
	{% include 'LoginLoginBundle:Default:head.html.twig' %}
	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			{% include 'LoginLoginBundle:Default:navbar.html.twig' %}

			<div class="main-content">
                <div class="main-content-inner">
					<div class="page-content">
					
						<!-- /section:settings.box -->
						<div class="page-header">
						
							<h1>
								Help <i class="menu-icon fa fa-question"></i>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Help and Support. Everything you need to know!
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="tabbable">
									<!-- #section:pages/faq -->
									<ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
										<li class="active">
											<a data-toggle="tab" href="#faq-tab-1">
											Pipeline Setting
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-2">
												Contacts & Organizations
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-3">
												Opportunities
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#faq-tab-4">
											Tags	
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#faq-tab-5">
											Notes	
											</a>
										</li>
									</ul>

									<!-- /section:pages/faq -->
									<div class="tab-content no-border padding-24">
									<!-- 1 -->
										<div id="faq-tab-1" class="tab-pane fade in active">
											<h4 class="blue">
												Learn all about getting your account up and running.. be up an running in minutes not days.
											</h4>

											<div class="space-8"></div>
											<div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
												<!-- 1-1 -->
													<div class="panel-heading">
														<a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
															&nbsp; Pipeline Terminology Guide
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-1">
														<div class="panel-body">
															<ul>
																</ol>
																<ol><strong>Users</strong>.. Users are your co-workers. In this section you will be able to get a snapshot of  your co-workers' pipeline information. You can hae unlimited Users under your account. The first User is the Administrator User who set up the Pipeline.
																</ol>
																<ol><strong>Contacts</strong>.. Everything start as a Contact. Contacts and Opportunities associated to Organizations (companies) and Opportunities.<br>
																	&nbsp;&nbsp;&nbsp; <strong>-</strong> Person.. An individual who can be the contact person of a Company or an individual. Person (people) are your business relationships.<br>
																	&nbsp;&nbsp;&nbsp; <strong>-</strong> Organization.. A Company that is being asssociated with a Opportunities.
																</ol>
																<ol><strong>Opportunities</strong>.. Once a contact was entered we can then enter Opportunity for a Contact. Opportunity is what you track through your sales pipeline. Opportunity represent the products or services you are selling. Every Opportunity has an amount and expected close date. Opportunity can be shared among Users. A Contact can have multiple Opportunities.
																</ol>
																<ol><strong>Dashboard</strong>.. When login to your pipeline the first page is your Dashboard. Your Dashboard is a collection of information, such as, your current Opportunities, Goals, Contacts, Notes, Tasks, etc.
															</ul>
														</div>
													</div>
												<!-- ./1-1 -->
												<!-- 1-2 -->
													<div class="panel-heading">
														<a href="#faq-2-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
															&nbsp; Setting Pipeline
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-1">
														<div class="panel-body">
															<ul>
																<ol><strong>Contacts</strong>.. Everything start as a Contact.<br>
																	&nbsp;&nbsp;&nbsp; <strong>-</strong> Person.. An individual who can be the contact person of a Company or an individual.<br>
																	&nbsp;&nbsp;&nbsp; <strong>-</strong> Organization.. A Company.
																</ol>
																<ol><strong>Opportunities</strong>.. Once a contact was entered we can then enter Opportunity for that Contact. Opportunity is what you track through your sales pipeline. Opportunity can be shared among Users. A Contact can have multiple Opportunities.
																</ol>
																<ol><strong>Dashboard</strong>.. When login to your pipeline the first page that will display is your Dashboard. Your Dashboard is a collection of information, such as, your current Opportunities, Goals, Contacts, Notes, Tasks, etc.
																</ol>
																<ol><strong>Users</strong>.. Users are your co-workers. In this section you will be able to get a snapshot of  your co-workers' pipeline information.
																</ol>
															</ul>
														</div>
													</div>
												<!-- ./1-2 -->												
												</div>
											</div>
										</div>
									<!-- ./1 -->									

										<div id="faq-tab-2" class="tab-pane fade">
											<h4 class="blue">
												<i class="green ace-icon fa fa-user bigger-110"></i>
												Account Questions
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-1" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
						Enim eiusmod high life accusamus terry richardson?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-1">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-2" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
					  Single-origin coffee nulla assumenda shoreditch et?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-2">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-3" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-right middle smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
					  Sunt aliqua put a bird on it squid?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-3">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-4" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
					  Brunch 3 wolf moon tempor sunt aliqua put?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-4">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="faq-tab-3" class="tab-pane fade">
											<h4 class="blue">
												<i class="orange ace-icon fa fa-credit-card bigger-110"></i>
												Payment Questions
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
						Enim eiusmod high life accusamus terry richardson?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-1">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
					  Single-origin coffee nulla assumenda shoreditch et?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-2">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-3" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
					  Sunt aliqua put a bird on it squid?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-3">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-4" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
					  Brunch 3 wolf moon tempor sunt aliqua put?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-4">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="faq-tab-4" class="tab-pane fade">
											<h4 class="blue">
												<i class="purple ace-icon fa fa-magic bigger-110"></i>
												Miscellaneous Questions
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-hand-o-right" data-icon-hide="ace-icon fa fa-hand-o-down" data-icon-show="ace-icon fa fa-hand-o-right"></i>&nbsp;
						Enim eiusmod high life accusamus terry richardson?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-4-1">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-4-2" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-frown-o bigger-120" data-icon-hide="ace-icon fa fa-smile-o" data-icon-show="ace-icon fa fa-frown-o"></i>&nbsp;
					  Single-origin coffee nulla assumenda shoreditch et?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-4-2">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-4-3" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
					  Sunt aliqua put a bird on it squid?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-4-3">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-4-4" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
					  Brunch 3 wolf moon tempor sunt aliqua put?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-4-4">
														<div class="panel-body">
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

                        {% include 'LoginLoginBundle:Default:footer.html.twig' %}
                        
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
                		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.js')}}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{asset('bundles/loginlogin/js/ace/jquery.mobile.custom.js')}}'>"+"<"+"/script>");
		</script>
		<script src="{{asset('bundles/loginlogin/js/ace/bootstrap.js')}}"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="{{asset('bundles/loginlogin/js/ace/elements.scroller.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.colorpicker.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.fileinput.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.typeahead.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wysiwyg.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.spinner.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.treeview.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.wizard.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/elements.aside.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.ajax-content.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.touch-drag.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.sidebar-scroll-1.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.submenu-hover.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-box.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-rtl.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.settings-skin.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.widget-on-reload.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/ace.searchbox-autocomplete.js')}}"></script>
                
                <script src="{{asset('bundles/loginlogin/js/ace/jquery.dataTables.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/jquery.dataTables.bootstrap.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/dataTables.tableTools.js')}}"></script>
		<script src="{{asset('bundles/loginlogin/js/ace/dataTables.colVis.js')}}"></script>
	</body>
</html>
